@import '../../../Vars.scss';

//Loadint state while displaying page
.loaderContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_container {
  max-width: 100%;
  height: 100vh;
  width: 100vw;
  background-color: $color--light-gray;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
  img {
    max-width: 1000px;
  }
}

.pdf_container {
  max-width: 100%;
  height: 100vh;
  width: 100vw;
  background-color: $color--light-gray;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
}

.word_ppt_container {
  max-width: 100%;
  height: 100vh;
  width: 100vw;
  background-color: $color--light-gray;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
}

/////////////////////////
//         MQ         //
/////////////////////////
@media screen and (max-width: 880px) {
}

////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
}
////////////////////////////////////////480/////////////////////////////////////////////

@media screen and (max-width: 480px) {
}
////////////////////////////////////////320/////////////////////////////////////////////

@media screen and (max-width: 320px) {
}
