@import '../../assets/styles/Vars.scss';
@import '../../assets/styles/Buttons.scss';

.construction__container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  text-align: center;
}

.header {
  height: 97px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $color--light-gray;
  box-shadow: 0 1px 6px 0 #20212447;
  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
  }
}
.main {
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: inherit;
    flex-direction: column;
  }
  h2 {
    color: $color--primary2-dark1;
  }
  figure {
    margin: 0;
    width: 100%;
    max-width: 65%;
  }
  img {
    width: 100%;
  }
  p {
    @include paragraph--big;
    color: $color--primary2-dark1;
  }
}

@import './MQ_Construccion.scoped.scss';
