//If no duration is received, it will be 1s by default

@function setFadeIn($duration: 1s) {
  @return (fadeIn $duration ease);
}

@keyframes fadeIn {
  from {
    filter: blur(5px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}
