@import '../../../../styles/Vars.scss';
.loader_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

/////////////////////////
//      Main Post      //
/////////////////////////

.Posts {
  &__main {
    background-color: $color--light-gray;
   
    h1 {
      color: $color--primary2-dark1;
    }
  }
}



.MainPost {
  padding: 10px 8px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'PostImage PostTitle'
    'PostImage PostDescription'
    'PostImage PostButton';
  figure {
    grid-area: PostImage;
    display: flex;
    margin: 0;
    align-items: center;
    //background-color: $color--secondary-light;
    img {
      max-width: 100%;
      border-radius: 3px;
      box-shadow: 14px 21px 20px -15px rgba(0, 0, 0, 0.3);
    }
  }
  h1 {
    margin-top: 16px;
  }
  h1,
  p {
    margin-left: 32px;
  }
}

/////////////////////////
//    Featured Posts    //
/////////////////////////
.featuredPostsHeader {
  text-align: center;
}
.featured_posts_upper_hr{
  max-width: 1000px;
}
.featuredPostsContainer{
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  .featured_post_card {
    max-width: 32.5%;
    .featured_post_card__image{
      margin: 0;
      .Img{
        width: 100%;
        border-radius: 3px;
        box-shadow: 14px 21px 20px -15px rgba(0, 0, 0, 0.3);
      }
    }
    h1 {
      @include font-size(18px);
      position: relative;
      font-weight: bold;
      text-align: center;
      bottom: 8%;
      background-color: $color--secondary-white;
      box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.4);
      max-width: 90%;
      margin: 0 auto;
      padding: 8px 0;
      border-radius: 2px;
    }
  }
  .featured_post_card:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
.featuredPostsContainer_adjustSpacing {
  justify-content: space-around;
}	

/////////////////////////
//    Posts Table      //
/////////////////////////

.AllPosts {
  h3 {
    text-align: center;
    color: $color--primary2-dark1;
    margin-top: 32px;
  }
  .AllPostsGrid {
    padding-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px 60px;
    h1 {
      margin: 12px 0;
      @include font-size(20px);
    }
    figure {
      margin: 0;
      img {
        max-width: 100%;
        border-radius: 3px;
        box-shadow: 14px 21px 20px -15px rgba(0, 0, 0, 0.3);
      }
    }
    h4 {
      color: $color--primary2-dark1;
    }
    hr {
      display: none;
    }
  }
}

/////////////////////////
//         MQ         //
/////////////////////////
@media screen and (max-width: 880px) {
 /////////////////////////
//    Featured Posts    //
///////////////////////// 
.featured_posts_upper_hr {
  margin: 8px;
}
.featuredPostsContainer{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  .featured_post_card {
    max-width: 500px;
    margin-bottom: 24px;
    h1 {
      transform: translate(0, -30px);
    }
  }
}

 /////////////////////////
  //    Posts Table      //
  /////////////////////////
.AllPostsHeader {
  margin-top: 0;
}

.AllPosts {
  padding: 0 8px;
}
}

////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
  /////////////////////////
  //      Main Post      //
  /////////////////////////
  .Posts {
    &__main {
      h3 {
        margin-bottom: 0;
      }
    }
  }

  .MainPost {
    grid-template-columns: 1fr;
    grid-template-areas:
      'PostTitle'
      'PostImage'
      'PostDescription'
      'PostButton';
    figure {
      grid-area: PostImage;
      justify-self: center;
    }
    h1,
    p {
      margin-left: 0px;
    }
    h1 {
      justify-self: center;
    }
  }

  /////////////////////////
  //    Posts Table      //
  /////////////////////////
  .AllPosts {
    .AllPostsGrid {
      grid-template-columns: 1fr 1fr;
      grid-gap: 60px 40px;
    }
  }
}
////////////////////////////////////////480/////////////////////////////////////////////

@media screen and (max-width: 480px) {
  /////////////////////////
  //    Posts Table      //
  /////////////////////////
  .AllPosts {
    .AllPostsGrid {
      grid-template-columns: 1fr;
      grid-gap: 40px;
      hr {
        display: block;
        width: 90%;
        border: 2px solid $color--dark-gray;
        border-radius: 5px;
        margin-top: 40px;
      }
      div:last-of-type hr {
        display: none;
      }
    }
  }
}
////////////////////////////////////////320/////////////////////////////////////////////

@media screen and (max-width: 320px) {
  /////////////////////////
  //      Main Post      //
  /////////////////////////
  .Posts {
    &__main {
      h3 {
        font-size: 20px;
      }
    }
  }
}
