@import '../../../../styles/Vars.scss';
.loader_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

/////////////////////////
//      Main Post      //
/////////////////////////

.Posts {
  &__main {
    background-color: $color--light-gray;
    h3 {
      color: $color--primary1-light1;
      text-align: center;
      position: relative;
      top: -37px;
      font-size: 18px;
    }
    h1 {
      color: $color--primary2-dark1;
    }
  }
}

.MainPost {
  padding: 10px 8px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'PostImage PostTitle'
    'PostImage PostDescription'
    'PostImage PostButton';
  figure {
    grid-area: PostImage;
    display: flex;
    margin: 0;
    align-items: center;
    //background-color: $color--secondary-light;
    img {
      max-width: 100%;
      border-radius: 3px;
      box-shadow: 14px 21px 20px -15px rgba(0, 0, 0, 0.3);
    }
  }
  h1,
  p {
    margin-left: 32px;
  }
}

/////////////////////////
//    Posts Table      //
/////////////////////////

.AllPosts {
  h3 {
    text-align: center;
    color: $color--primary2-dark1;
  }
  .AllPostsGrid {
    padding-top: 52px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px 60px;
    figure {
      margin: 0;
      img {
        max-width: 100%;
        border-radius: 3px;
        box-shadow: 14px 21px 20px -15px rgba(0, 0, 0, 0.3);
      }
    }
    h4 {
      color: $color--primary2-dark1;
    }
    hr {
      display: none;
    }
  }
}

/////////////////////////
//         MQ         //
/////////////////////////
@media screen and (max-width: 880px) {
}

////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
  /////////////////////////
  //      Main Post      //
  /////////////////////////
  .Posts {
    &__main {
      h3 {
        margin-bottom: 0;
      }
    }
  }

  .MainPost {
    grid-template-columns: 1fr;
    grid-template-areas:
      'PostTitle'
      'PostImage'
      'PostDescription'
      'PostButton';
    figure {
      grid-area: PostImage;
      justify-self: center;
    }
    h1,
    p {
      margin-left: 0px;
    }
    h1 {
      justify-self: center;
    }
  }

  /////////////////////////
  //    Posts Table      //
  /////////////////////////
  .AllPosts {
    padding: 0 8px;
    .AllPostsGrid {
      grid-template-columns: 1fr 1fr;
      grid-gap: 60px 40px;
    }
  }
}
////////////////////////////////////////480/////////////////////////////////////////////

@media screen and (max-width: 480px) {
  /////////////////////////
  //    Posts Table      //
  /////////////////////////
  .AllPosts {
    .AllPostsGrid {
      grid-template-columns: 1fr;
      grid-gap: 40px;
      hr {
        display: block;
        width: 90%;
        border: 2px solid $color--dark-gray;
        border-radius: 5px;
        margin-top: 40px;
      }
      div:last-of-type hr {
        display: none;
      }
    }
  }
}
////////////////////////////////////////320/////////////////////////////////////////////

@media screen and (max-width: 320px) {
  /////////////////////////
  //      Main Post      //
  /////////////////////////
  .Posts {
    &__main {
      h3 {
        font-size: 20px;
      }
    }
  }
}
