@import '../../../../styles/Vars.scss';
@import '../../../../styles/Animations/skeleton.module.scss';

.container {
  padding: 32px 0 50px;
  min-height: 550px;
  h1 {
    margin-top: 0;
  }
  h2 {
    @include font-size(24px);
    margin-top: 0;
  }
  h3 {
    @include font-size(20px);
    margin-top: 0;
  }

  //////////////////////////////
  // Skeleton discount loading //
  //////////////////////////////
  .skeleton_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 20px;
    margin-bottom: 50px;
    .discount_card_skeleton {
      animation: setSkeletonLoading();
      border-radius: 5px;
      height: 300px;
      width: 100%;
    }
  }

  .upper_headings {
    p {
      margin: 0;
    }
  }

  .logo_description_container {
    display: flex;
    align-items: flex-start;
    margin: 50px 0;
    background-color: $color--tertiary-white;
    padding: 30px;
    border-radius: 5px;

    .logo_container {
      width: 140px;
      height: 140px;
      border-radius: 3px;
      padding: 4px;
      background-color: #ffffff;
      box-shadow: 11px 5px 17px -8px rgb(0 0 0 / 30%);
      margin-right: 50px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .brand_description {
      //Select the first paragraph child
      p:first-child {
        margin-top: 0;
      }
    }
  }

  .discount_cards_section {
    .discounts_grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px 20px;
      margin-bottom: 50px;
    }
  }

  .faqs_container {
    p {
      margin: 0;
    }
    h3 {
      color: $color--primary1;
    }
  }
}

/////////////////////////
//         MQ         //
/////////////////////////
@media screen and (max-width: 1100px) {
  .container {
    min-height: initial;
  }
}
@media screen and (max-width: 880px) {
  .container {
    padding: 32px 8px 50px;
  }
}

////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
  .container {
    //////////////////////////////
    // Skeleton discount loading //
    //////////////////////////////
    .skeleton_grid {
      grid-template-columns: repeat(2, 1fr);
      .discount_card_skeleton:last-child {
        display: none;
      }
    }

    .discount_cards_section {
      .discounts_grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
////////////////////////////////////////480/////////////////////////////////////////////

@media screen and (max-width: 480px) {
  .container {
    //////////////////////////////
    // Skeleton discount loading //
    //////////////////////////////
    .skeleton_grid {
      grid-template-columns: repeat(1, 1fr);
    }

    .logo_description_container {
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
      padding: 16px;
      .logo_container {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    .discount_cards_section {
      .discounts_grid {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
////////////////////////////////////////320/////////////////////////////////////////////

@media screen and (max-width: 320px) {
}
