@import '../../../../styles/Vars.scss';
@import '../../../../styles/Buttons.scss';

.container {
  max-width: 1200px;
}

.category_description {
  margin-top: 0;
  font-weight: bold;
}

//Loadint state while displaying discounts
.loaderContainer {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px 20px;
  margin: 0 0 40px;
}

.loader_on_scroll_container {
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

///When discounts not available
.no_discounts_container {
  padding-bottom: 20px;
  h2 {
    text-align: center;
  }
  figure {
    max-width: 70%;
    margin: 0 auto;
  }
  p {
    text-align: center;
    font-weight: bold;
    @include font-size(20px);
  }
}

/////////////////////////
//         MQ         //
/////////////////////////
@media screen and (max-width: 1100px) {
  .container {
    padding: 0 8px;
  }
}
////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
  .grid_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .grid_container {
    grid-template-columns: repeat(1, 1fr);
  }

  ///When discounts not available
  .no_discounts_container {
    figure {
      max-width: 90%;
      margin: 0 auto;
    }
    p {
      @include font-size(18px);
    }
  }
}
