@import '../../../../styles/Vars.scss';
@import '../../../../styles/Buttons.scss';

//TODO: adjust footer behavior for each screen size when navbar and main content is completed is completed. Probably no need of the page wrapper and footer styles, since page should have a lot of content
// .page_wrapper {
//   height: 100vh;
//   Footer {
//     position: absolute;
//     bottom: 0;
//     width: 100%;
//   }
// }

.container {
  max-width: 1200px;
}

//Loadint state while displaying discounts
.loaderContainer {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px 20px;
  margin: 0 0 40px;
}

.no_discounts_container {
  padding-bottom: 20px;
  h2 {
    text-align: center;
  }
  figure {
    max-width: 70%;
    margin: 0 auto;
  }
  p {
    text-align: center;
    font-weight: bold;
    @include font-size(20px);
  }
}

/////////////////////////
//         MQ         //
/////////////////////////
@media screen and (max-width: 1100px) {
  .grid_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 880px) {
  // .page_wrapper {
  //   Footer {
  //     position: initial;
  //   }
  // }
}
////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
  .grid_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .grid_container {
    grid-template-columns: repeat(1, 1fr);
  }
  .no_discounts_container {
    figure {
      max-width: 90%;
      margin: 0 auto;
    }
    p {
      @include font-size(18px);
    }
  }
}
