////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
  .upperBenefits {
    .beneficios__container {
      grid-template-columns: 45% 45%;
      grid-gap: 20px;
    }
  }
}
////////////////////////////////////////480/////////////////////////////////////////////

@media screen and (max-width: 480px) {
  .upperBenefits {
    .beneficios__container {
      grid-template-columns: 70%;
      grid-gap: 15px;
    }
  }
}
////////////////////////////////////////320/////////////////////////////////////////////

@media screen and (max-width: 320px) {
}
