@import '../../assets/styles/Vars.scss';
@import '../../assets/styles/Buttons.scss';

body {
  .body__gridContainer {
    display: grid;
  }
}

/////////////////////////
//     Page Titel      //
/////////////////////////

.pageTitle img {
  display: block;
  margin: 30px auto;
}

/////////////////////////
//        Hero         //
/////////////////////////

.hero {
  background-color: $color--primary2;
  &__container {
    display: grid;
    grid-template-columns: 50% 1fr;
    padding: 25px 0;
  }
  &__title {
    color: $color--white;
    @include font-size(60px);
    line-height: 100px;
    margin: 0;
    align-self: center;
  }
  figure {
    margin: 0;
  }
  figure img {
    max-width: 163%;
  }
  a {
    display: block;
  }
  a img {
    display: block;
    margin: 0 auto -32px;
  }
}

/////////////////////////
//     Main Text       //
/////////////////////////

.main {
  padding-bottom: 60px;
  h2 {
    color: $color--primary1;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
  }
  p {
    @include paragraph--regular;
    text-align: justify;
    margin: 0 64px;
  }
  .main__content::before {
    content: url(../../assets/static/arrow_topleft.svg);
    display: inline-block;
    margin-left: -65px;
  }
  .main__content::after {
    content: url(../../assets/static/arrow_botright.svg);
    margin-left: 100%;
    display: block;
    margin-top: -15px;
  }
}

/////////////////////////
//   Upper benefits    //
/////////////////////////

.upperBenefits {
  background-color: $color--light-gray;
  h2 {
    color: $color--primary2-dark1;
    margin: 50px 0 40px;
  }
  .beneficios__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;
    justify-content: center;
    padding-bottom: 50px;
    box-sizing: border-box;
  }
}

/////////////////////////
//         MQ         //
/////////////////////////

@import './MQ_ParaEmpresas.scoped.scss';
