@import '../../assets/styles/Vars.scss';
@import '../../assets/styles/Buttons.scss';

body {
  .body__gridContainer {
    display: grid;
  }
}

/////////////////////////
//     Page Titel      //
/////////////////////////

.pageTitle {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  img {
    // display: block;
    margin: 30px auto;
    max-width: 100%;
  }
}

/////////////////////////
//        Hero         //
/////////////////////////

.hero {
  background-color: $color--secondary;
  &__container {
    display: grid;
    grid-template-columns: 50% 1fr;
    padding: 25px 10px;
  }
  &__title {
    color: $color--white;
    @include font-size(58px);
    line-height: 100px;
    margin: 0;
    align-self: center;
  }
  figure {
    margin: 0;
  }
  figure img {
    max-width: 163%;
  }
  a {
    display: block;
    position: relative;
    z-index: 1;
  }
  .hero__sectionDown {
    display: block;
    margin: 0 auto -31px;
  }
}

/////////////////////////
//     Main Text       //
/////////////////////////

.main {
  padding: 0 8px 60px;
  &__title1,
  &__title2 {
    color: $color--primary1;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
  }
  &__title2 {
    color: $color--black;
    font-weight: lighter;
    margin-top: 50px;
    margin-bottom: 70px;
    b {
      font-weight: 800;
    }
  }
  &__content1 {
    @include paragraph--regular;
    text-align: justify;
    margin: 0 64px;
  }
  .main__content1::before {
    content: url(../../assets/static/GeneralUse/IconsAndButtons/arrow_topleft.svg);
    display: inline-block;
    margin-left: -65px;
  }
  .main__content1::after {
    content: url(../../assets/static/GeneralUse/IconsAndButtons/arrow_botright.svg);
    margin-left: 100%;
    display: block;
    margin-top: -15px;
  }

  &__content2 {
    list-style: none;
    h4 {
      @include font-size(18px);
      font-family: $font2;
      margin: 0;
      margin-top: 50px;
    }
    p {
      margin: 0;
    }
  }
  &__content2 h4::before {
    content: url(../../assets/static/GeneralUse/IconsAndButtons/check_bullet.svg);
    display: inline-block;
    vertical-align: middle;
    margin-left: -44px;
    margin-right: 15px;
  }
}

/////////////////////////
//   Upper benefits    //
/////////////////////////

.upperBenefits {
  background-color: $color--light-gray;
  padding: 0 8px;
  h2 {
    color: $color--primary2-dark1;
    margin: 50px 0 40px;
  }
  .beneficios__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;
    justify-content: center;
    padding-bottom: 50px;
    box-sizing: border-box;
  }
}

/////////////////////////
//   Under benefits    //
/////////////////////////

.underBenefits {
  display: grid;
  padding: 50px 8px 80px;
  .beneficio {
    display: flex;
    justify-content: space-between;
    &__informacion {
      max-width: 50%;
      h4 {
        color: $color--secondary;
      }
      p {
        @include paragraph--regular;
      }
    }
    &__imagen {
      width: 50%;
      max-width: 50%;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 40%;
      }
    }
    &__hr {
      display: none;
    }
  }
}

/////////////////////////
//      Contacto       //
/////////////////////////

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 8px 90px;
  p {
    margin-top: 0;
    margin-bottom: 80px;
    @include paragraph--regular;
    text-align: center;
  }
}

/////////////////////////
//         MQ         //
/////////////////////////

@import './MQ_ParaEmpresas.scoped.scss';
