@import '../../../../styles/Vars.scss';

.modifyPassErr {
  color: $color--primary1;
}

.form {
  max-width: 490px;
  align-self: center;
  vertical-align: center;
  /////////////////////////
  // after sent elements //
  /////////////////////////
  .sent__message {
    margin: 50px auto;
    text-align: center;
  }
  /////////////////////////////
  h1 {
    margin: 0;
  }
  .form__subtitle {
    margin-bottom: 20px;
    font-weight: 700;
  }

  label {
    @include font-size(16px);
    display: block;
  }

  input {
    width: 100%;
    background-color: $color--secondary-light;
    border: 1px solid $color--black;
    height: 45px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 40px;
  }

  .inputText__RepPassword {
    margin-bottom: 50px;
  }

  .inputText__label {
    position: relative;
  }

  .inputText__errors {
    color: $color--primary1;
    margin: 0;
    position: absolute;
    z-index: 1;
    top: 66px;
    font-weight: bold;
  }

  //Buttons
  .contactButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
}

/////////////////////////
//         MQ         //
/////////////////////////
@media screen and (max-width: 880px) {
}

////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
}
////////////////////////////////////////480/////////////////////////////////////////////

@media screen and (max-width: 480px) {
}
////////////////////////////////////////320/////////////////////////////////////////////

@media screen and (max-width: 320px) {
}
