@import '../../../styles/Vars.scss';

.form {
  max-width: 490px;
  align-self: center;
  vertical-align: center;
  margin-top: 40px;
  h1 {
    margin-bottom: 10px;
  }
  h4 {
    margin-top: 0;
  }
  label {
    @include font-size(16px);
    display: block;
    margin-bottom: 8px;
  }
  input {
    width: 100%;
    background-color: $color--secondary-light;
    border: 1px solid $color--black;
    height: 45px;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 10px;
  }

  .buttons {
    a,
    p {
      @include font-size(14px);
    }
    p {
      margin: 0;
    }
    button {
      margin-top: 10px;
    }
  }
}

.divider {
  margin: 35px 0;
  text-align: center;
}

.terminos {
  @include font-size(12px);
}
.errorMessage {
  position: relative;
  top: -45px;
  color: $color--primary1;
  @include font-size(16px);
  font-weight: 600;
}
