@import '../../../../../styles/Vars.scss';

.form {
  max-width: 490px;
  align-self: center;
  vertical-align: center;
  h1 {
    margin: 0;
  }
  h4 {
    margin: 0;
    margin-bottom: 30px;
  }
  label {
    @include font-size(16px);
    margin-bottom: 8px;
    width: 100%;
  }
  input {
    width: 100%;
    background-color: $color--secondary-light;
    border: 1px solid $color--black;
    height: 45px;
    border-radius: 5px;
    margin-bottom: 35px;
    padding: 10px;
  }

  //Possitioning validation error messages if value not included in datalists
  .list_label {
    position: relative;
  }

  .inputText__errors {
    color: $color--primary1;
    margin: 0;
    position: absolute;
    top: 30px;
    font-weight: bold;
  }

  .responseError {
    color: $color--primary1;
    margin: 0;
    font-weight: bold;
  }

  //Buttons
  .continueButton {
    position: relative;
    .dot_flashing {
      position: absolute;
      top: -4px;
      right: -2px;
      width: 12px;
      height: 12px;
      border-radius: 10px;
      animation: dotFlashing 0.25s infinite ease alternate;
    }
    @keyframes dotFlashing {
      0% {
        background-color: $color--primary2;
      }
      100% {
        background-color: $color--primary2-light2;
      }
    }
    .nextArrowContainer {
      position: absolute;
      top: 16px;
      right: 10px;
    }
  }
  .buttonLoading {
    background-color: rgba(173, 33, 70, 0.4);
    cursor: default;
  }
  .contactButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
}

/////////////////////////
//         MQ         //
/////////////////////////
@media screen and (max-width: 880px) {
}

////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
}
////////////////////////////////////////480/////////////////////////////////////////////

@media screen and (max-width: 480px) {
}
////////////////////////////////////////320/////////////////////////////////////////////

@media screen and (max-width: 320px) {
}
