@import '../components/Vars.scss';
@import '../components/Buttons.scss';

body {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  text-align: center;
}

.header {
  height: 97px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $color--light-gray;
  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
  }
}
.main {
  width: 100%;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: inherit;
    flex-direction: column;
  }
  h2 {
    color: $color--primary2-dark1;
  }
  figure {
    margin: 0;
    width: 100%;
    max-width: 65%;
  }
  img {
    width: 100%;
  }
  p {
    @include paragraph--big;
    color: $color--primary2-dark1;
  }
}

@import '../pages/MQ/MQ_Construccion.scss';
