@import '../../../../styles/Vars.scss';
@import '../../../../styles/Animations/skeleton.module.scss';

.container {
  padding: 32px 8px 90px;
  .image_skeleton {
    animation: setSkeletonLoading();
    width: 100%;
    height: 540px;
    border-radius: 3px;
  }
  .author_skeleton {
    animation: setSkeletonLoading();
    width: 100%;
    max-width: 200px;
    height: 20px;
    margin-top: 16px;
    border-radius: 3px;
  }
  .pubDate_skeleton {
    animation: setSkeletonLoading();
    width: 100%;
    max-width: 150px;
    height: 18px;
    margin-top: 16px;
    border-radius: 3px;
  }

  .title_skeleton {
    animation: setSkeletonLoading();
    width: 100%;
    max-width: 900px;
    height: 50px;
    margin: 24px auto;
    border-radius: 3px;
  }
  .paragraph_skeleton {
    animation: setSkeletonLoading();
    width: 100%;
    max-width: 800px;
    height: 20px;
    margin: 16px auto 0;
    border-radius: 3px;
  }
}
