@import '../../../../../../styles/Vars.scss';
@import '../../../../../../styles/Animations/dotLoadingButton.module.scss';
@import '../../../../../../styles/singleElementsStyles/tooltip.module.scss';

.modal {
  padding: 0 30px;

  h1 {
    margin: 0;
    margin-bottom: 16px;
  }
  .input_title {
    margin: 0 0 8px;
    @include font-size(14px);
    display: block;
    font-weight: bold;
  }

  .row_1_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .input,
  .description_text_area,
  .notes_text_area {
    width: 100%;
    background-color: $color--secondary-light;
    border: 1px solid $color--black;
    height: 40px;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 30px;
    padding: 10px;
  }

  .char_count {
    text-align: right;
    margin: -35px 0 0;
    @include font-size(12px);
    color: $color--dark-gray;
  }
  .char_count_warn span {
    background-color: $color--warning;
    color: $color--white;
    padding: 2px;
    border-radius: 5px;
    opacity: 0.6;
  }

  .brand_name_input {
    max-width: 200px;
  }

  .brand_slug_container {
    max-width: 360px;
  }

  .description_container {
    margin: 16px 0 0;
    .quill_editor {
      p {
        margin: 0;
      }
      ul,
      ol {
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        @include paragraph--regular;
      }
    }
    .description_char_count {
      margin: 0;
    }
  }

  .notes_text_area {
    min-height: 60px;
  }
  .submit_btn {
    margin: 16px auto;
  }
}

/////////////////////////
//         MQ         //
/////////////////////////

////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
  .modal {
    .row_1_container {
      flex-direction: column;
      align-items: flex-start;
      .brand_name_input {
        margin-bottom: 0;
      }
    }
  }
}
////////////////////////////////////////480/////////////////////////////////////////////

@media screen and (max-width: 480px) {
  .modal {
    padding: 0;
  }
}
