@import '../../../styles/Vars.scss';

.burguer__button {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(59, 5, 94, 0.8);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.burguer__button:hover {
  opacity: 0.8;
}

.icon__line {
  height: 4px;
  width: 22px;
  background-color: $color--white;
  border-radius: 10px;
}

.burguer__line2 {
  margin: 3px 0;
}
