@media screen and (max-width: 320px) {
  /////////////////////////
  //         Hero         //
  /////////////////////////
  .hero__container .hero__image-container {
    margin-right: -90px;
  }
  .hero__container .hero__title {
    @include font-size(35px);

    line-height: 53px;
  }

  /////////////////////////
  //       Main         //
  /////////////////////////

  .main {
    &__title-container {
      margin: 10px 0;
    }
    &__content-image img {
      width: 160%;
      top: -50px;
    }
    &__description-container {
      margin-top: -100px;
    }
  }
}
