@media screen and (max-width: 880px) {
  .main__content-image {
    margin-left: 0;
  }
  .main__content-description {
    margin-left: -270px;
  }
  .main__description-container::after {
    transform: translate(200%, -50%);
  }
}

@media screen and (max-width: 767px) {
  /////////////////////////
  //         Hero         //
  /////////////////////////
  .hero__title {
    @include font-size(50px);
    line-height: 80px;
  }

  .hero__image-container {
    margin-right: -190px;
  }

  /////////////////////////
  //       Main         //
  /////////////////////////
  .main {
    &__container {
      padding-bottom: 30px;
    }
    &__title-container {
      height: 64px;
      margin: 30px 0;
    }
    &__title-container img {
      height: 100%;
    }

    &__content-image img {
      object-fit: contain;
      position: relative;
      right: -15%;
    }
  }

  .main__content {
    flex-direction: column;
    &-image {
      margin: 0;
      width: auto;
      // padding-left: 0;
    }
    &-image img {
      width: 120%;
    }
  }

  .main__content-description {
    margin: 0;
    padding: 10px;
    text-align: center;
  }
  .main__content-description::before {
    display: none;
  }

  .main__description-container::after {
    display: none;
  }

  /////////////////////////
  //      Benefits       //
  /////////////////////////

  .benefits {
    &__container {
      flex-direction: column-reverse;
      padding: 10px;
      align-items: center;
    }
    &__cards {
      width: 70%;
    }
    &__description {
      width: 100%;
      text-align: center;
    }
  }
}
