@import '../../../../../../styles/Vars.scss';
@import '../../../../../../styles/Animations/dotLoadingButton.module.scss';

.modal {
  h1 {
    margin: 0;
  }
  p {
    margin: 16px 0 0;
    font-weight: bold;
  }
  .redirect_user_to_brand_page_checkbox_container {
    max-width: 310px;
  }
  .submit_btn {
    margin: 16px auto;
  }
}

/////////////////////////
//         MQ         //
/////////////////////////

////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
}
////////////////////////////////////////480/////////////////////////////////////////////

@media screen and (max-width: 480px) {
}
