@import '../../../../styles/Vars.scss';
@import '../../../../styles/Buttons.scss';

.wrapper {
  padding: 0 8px;
}

.container {
  margin: 20px auto 20px;
  padding: 0;
  border: 1px solid $color--dark-gray;
  border-radius: 5px;
  box-sizing: border-box;
  object-fit: cover;
  max-width: 750px;
}

/////////////////////////
//     Banner-logo     //
/////////////////////////

.banner_logo_container {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: inherit;
  margin: 0px auto 0;
  border-radius: 5px;
  .banner_container {
    position: relative;
    .banner_wrapper {
      box-sizing: border-box;
      display: inline-block;
      overflow: hidden;
      width: initial;
      height: initial;
      background: none;
      opacity: 1;
      border: 0;
      margin: 0;
      padding: 0;
      position: relative;
      max-width: 100%;
      span {
        box-sizing: border-box;
        display: block;
        width: initial;
        height: initial;
        background: none;
        opacity: 1;
        border: 0;
        margin: 0;
        padding: 0;
        max-width: 100%;
        img {
          display: block;
          max-width: 100%;
          width: initial;
          height: initial;
          background: none;
          opacity: 1;
          border: 0;
          margin: 0;
          padding: 0;
        }
      }
      .banner_image {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        box-sizing: border-box;
        padding: 0;
        border: none;
        margin: auto;
        display: block;
        width: 0;
        height: 0;
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        object-fit: cover;
      }
    }
  }
  .logo_container {
    margin-top: -150px;
    width: 200px;
    z-index: 2;
    border-radius: 3px;
    box-shadow: 11px 5px 17px -8px rgb(0 0 0 / 30%);
    background-color: #ffffff;
    position: relative;
    margin-bottom: 20px;
    max-width: 40%;
    height: 200px;
    span {
      box-sizing: border-box;
      display: block;
      overflow: hidden;
      width: initial;
      height: initial;
      background: none;
      opacity: 1;
      border: 0;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        box-sizing: border-box;
        padding: 4px;
        border: none;
        margin: auto;
        display: block;
        width: 0;
        height: 0;
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        object-fit: fill;
      }
    }
  }
}

/////////////////////////
//     Valid period     //
/////////////////////////

.valid_period {
  margin: -15px 0 0;
  text-align: center;
  @include paragraph--small;
  color: $color--dark-gray;
}

.upper_discount_info {
  text-align: center;
  h2 {
    max-width: 650px;
    margin: 0 auto;
  }
  p {
    max-width: 650px;
    margin: 8px auto;
  }
}

.terms_cons {
  span {
    text-decoration: underline;
    color: $color--secondary;
    cursor: default;
  }
  margin: 8px auto;
  text-align: center;
  span:hover {
    color: rgba(58, 134, 255, 0.8);
    text-decoration: none;
  }
}

.brand_info {
  border-top: 1px solid $color--dark-gray;
  padding: 8px;
  h4 {
    margin: 0;
  }
  p {
    margin: 0;
  }
}

.share_section {
  display: flex;
  border-top: 1px solid $color--dark-gray;
  padding: 6px 8px 2px;
  justify-content: center;
  gap: 20px;
}

/////////////////////////
//    Discount info    //
/////////////////////////

/////////////////////////
//         MQ         //
/////////////////////////
@media screen and (max-width: 880px) {
}

////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
  .wrapper {
    padding: 40px 8px;
  }

  .container {
    margin: 0px auto 0px;
  }

  .info_container {
    padding: 0 8px;
  }

  .banner_logo_container {
    .logo_container {
      margin-top: -115px;
      width: 160px;
      height: 160px;
    }
  }
}
////////////////////////////////////////480/////////////////////////////////////////////

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 20px 8px;
  }

  .banner_logo_container {
    .logo_container {
      margin-top: -96px;
      width: 130px;
      height: 130px;
    }
  }
}
////////////////////////////////////////320/////////////////////////////////////////////

@media screen and (max-width: 320px) {
  .upper_discount_info {
    h2 {
      @include font-size(26px);
    }
  }
  .banner_logo_container {
    .logo_container {
      margin-top: -90px;
      width: 120px;
      height: 120px;
    }
  }
}
