@import '../../Vars.scss';
@import '../../Animations/dotLoadingButton.module.scss';

//Loadint state while displaying page
.loaderContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

//button loading state while checking order allowance
.loadingBtnSpinner {
  position: relative;
  color: $color--primary1;
}
.loadingBtnSpinner:hover {
  background-color: $color--primary1;
  cursor: initial;
}
.loadingBtnSpinner::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

//button loading state after clicking for checkout
.buttonLoading {
  background-color: rgba(173, 33, 70, 0.4);
  cursor: default;
  position: relative;
}
.buttonLoading:hover {
  background-color: rgba(173, 33, 70, 0.4);
}
.buttonLoading::after {
  content: '';
  position: absolute;
  top: -4px;
  right: -2px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  animation: setDotLoading();
}
//button--red disabled state
.buttonDisabled {
  background-color: rgba(173, 33, 70, 0.4);
  cursor: default;
  position: relative;
}
.buttonDisabled:hover {
  background-color: rgba(173, 33, 70, 0.4);
}

.campusbox {
  display: grid;
  padding-top: 60px;
  padding-bottom: 80px;
  /////////////////////////
  //         main         //
  /////////////////////////
  &__container {
    display: flex;
    justify-content: space-between;
    figure {
      margin: 0;
      margin-left: 8px;
      padding: 4px;
      max-width: 600px;
      min-width: 500px;
      max-height: 600px;
      border: 1px solid $color--dark-gray;
      box-shadow: 10px 10px 18px -18px rgba(0, 0, 0, 0.3);
    }
    .details {
      max-width: 350px;
      margin: 0 8px 0 8px;
      h2 {
        margin: 0;
      }
      p {
        margin: 0;
      }
      .vendor {
        color: $color--dark-gray;
        margin-top: -4px;
      }
      .price {
        @include font-size(28px);
        font-weight: 800;
        margin-top: 16px;
      }
      .taxes {
        margin-bottom: 35px;
        @include font-size(14px);
      }
      .description {
        margin-bottom: 55px;
      }
      button {
        width: 100%;
      }
      .divider {
        margin-top: 40px;
        border-bottom: 2px solid $color--dark-gray;
        margin-bottom: 15px;
      }
      .conditions {
        @include font-size(14px);
      }
      .notAllowedMessage {
        @include paragraph--big;
        color: $color--primary1;
        font-weight: bold;
        a {
          color: $color--primary1;
        }
      }
    }
  }
  /////////////////////////
  //      Sponsors       //
  /////////////////////////
  .sponsors {
    margin-top: 70px;
    h2 {
      text-align: center;
    }
  }

  /////////////////////////
  //  Back home button   //
  /////////////////////////
  .backhome {
    margin-top: 60px;
  }
}

/////////////////////////
//  Out of stock page //
/////////////////////////
.OutOFStock {
  padding: 0 8px;
  figure {
    display: flex;
    justify-content: center;
  }
  .backhome {
    margin-top: 60px;
    margin-bottom: 40px;
  }
}

/////////////////////////
//         MQ         //
/////////////////////////
@media screen and (max-width: 880px) {
}

////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
  .campusbox {
    &__container {
      flex-direction: column;
      figure {
        min-width: initial;
        align-self: center;
        margin: 8px;
      }
      .details {
        max-width: initial;
        margin-top: 20px;
        button {
          max-width: 480px;
        }
      }
    }
  }
}
////////////////////////////////////////480/////////////////////////////////////////////

@media screen and (max-width: 480px) {
  .campusbox {
    padding-bottom: 60px;
    .sponsors {
      margin-top: 40px;
    }
  }
}
////////////////////////////////////////320/////////////////////////////////////////////

@media screen and (max-width: 320px) {
}
