@import './Vars.scss';

.btn {
  text-decoration: none;
  color: white;
  font-family: $font2;
  border-radius: 5px;
  padding: 14px 31px;
  font-weight: 800;
  border: none;
  width: fit-content;
  margin: 0 auto;
  box-shadow: 14px 21px 20px -15px rgba(0, 0, 0, 0.3);
  display: block;
  margin: 0 auto;
}

/////////////////////////
//    Button-colors    //
/////////////////////////
.button--red {
  background-color: $color--primary1;
  cursor: pointer;
  &:hover {
    background-color: rgba(173, 33, 70, 0.8);
  }
}
.button--blue {
  background-color: $color--secondary;
  cursor: pointer;
  &:hover {
    background-color: rgba(58, 134, 255, 0.8);
  }
}
.button--purple {
  background-color: $color--primary2;
  cursor: pointer;
  &:hover {
    background-color: rgba(91, 7, 145, 0.8);
  }
}

.button--redRedborderTransparent {
  border: 1px solid $color--primary1;
  color: $color--primary2;
  padding: 10px 31px;
  background-color: transparent;
  &:hover {
    background-color: $color--primary1;
    color: $color--white;
  }
}
