@import '../../assets/styles/Vars.scss';

.body__gridContainer {
  display: grid;
  padding: 0px 8px 90px;
  background-image: url('../../assets/static/contact_background.png');
  background-repeat: no-repeat;
  background-size: 100% 360px;
}

.contactForm h1 {
  color: $color--white;
  text-align: center;
  @include font-size(70px);
  margin: 30px 0 40px;
}

/////////////////////////
//    Contact Info     //
/////////////////////////

.contactInfo {
  &__title {
    margin: 50px 0 30px;
  }
  max-width: 515px;
  &__address,
  &__phone {
    display: flex;
    align-items: center;
    justify-content: start;
    a {
      margin: 16px 0;
      text-decoration: none;
      font-weight: bold;
    }
  }
  &__addressIcon,
  &__phoneIcon {
    transform: scale(0.8);
    margin-right: 8px;
  }

  &__media {
    h4 {
      margin-bottom: 8px;
    }
    hr {
      border: 2px solid $color--primary1;
      margin-bottom: 0;
    }
  }

  &__mediaIcons {
    margin-top: 25px;
  }
  a {
    margin-right: 16px;
  }
}

/////////////////////////
//         MQ         //
/////////////////////////
@import './MQ_Contacto.scoped.scss';
