@import '../../../../styles/Vars.scss';

.form {
  max-width: 490px;
  align-self: center;
  vertical-align: center;

  h1 {
    margin: 0;
  }
  h4 {
    margin: 0;
  }
  .form__subtitle {
    margin: 0;
    margin-bottom: 15px;
  }
  label {
    @include font-size(16px);
    display: block;
    margin-bottom: 8px;
  }
  input {
    width: 100%;
    background-color: $color--secondary-light;
    border: 1px solid $color--black;
    height: 45px;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 10px;
  }

  .inputText__RepPassword {
    margin-bottom: 40px;
  }
  .checkbox {
    width: initial;
    display: initial;
    margin: 0;
    height: initial;
  }
  .checkbox__label {
    display: inline;
  }

  .buttons {
    margin-top: 16px;
    a,
    p {
      @include font-size(14px);
    }
    p {
      margin: 0;
    }
    button {
      margin-top: 10px;
    }
  }

  .inputText__label {
    position: relative;
  }

  .inputText__errors {
    color: red;
    margin: 0;
    position: absolute;
    z-index: 1;
    top: 66px;
    font-weight: bold;
  }

  .inputCheckBox__errors {
    color: red;
    margin: 0;
    position: relative;
    font-weight: bold;
  }

  .errorMessage {
    top: -45px;
    color: $color--primary1;
    @include font-size(16px);
    font-weight: 600;
  }
}
