@import './Vars.scss';

.btn {
  text-decoration: none;
  color: white;
  font-family: $font2;
  border-radius: 5px;
  padding: 14px 31px;
  font-weight: 800;
}

/////////////////////////
//     Button-red      //
/////////////////////////
.button-red {
  background-color: $color--primary1;
}
.button-blue {
  background-color: $color--secondary;
}
