@import '../../assets/styles/Vars.scss';
@import '../../assets/styles/Buttons.scss';

.body__gridContainer {
  display: grid;
}

.main__container {
  @include paragraph--regular;
  color: $color--black;
  padding: 0 8px calc(90px - 26px);

  h2 {
    color: $color--black;
    text-align: center;
  }
  h3 {
    color: $color--primary2;
  }
  h4 {
    color: $color--primary1;
  }
}

/////////////////////////
//         MQ         //
/////////////////////////

@import './MQ_TerminosCondiciones.scoped.scss';
