@import '../../../styles/Vars.scss';

.card {
  border: $color--secondary solid 3px;
  border-radius: 5px;
  background-color: $color--white;
  padding: 5px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 14px 21px 20px -19px rgba(0, 0, 0, 0.3);
  &__image {
    width: 40%;
  }
  &__title {
    color: $color--black;
    margin: 20px 0 12px;
  }
  &__description {
    @include paragraph--regular;
    margin: 0;
  }
}
