@import '../../assets/styles/Vars.scss';

/////////////////////////
//       Header        //
/////////////////////////
.header {
  box-shadow: 0 1px 6px 0 #20212447;
  .header__container {
    display: flex;
    justify-content: space-between;
    height: 97px;
    padding: 0 10px;

    .header__logo {
      margin: auto 0;
    }
  }
}

.menu,
.menu__item {
  height: inherit;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  height: inherit;
  margin: 0;
  .menu__item a {
    text-decoration: none;
    color: $color--black;
    height: inherit;
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-left: 46px;
  }
}

.menu__item a:hover {
  color: $color--primary1;
}

/////////////////////////
//   Burguer button    //
/////////////////////////

.burguer__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(59, 5, 94, 0.8);
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 5px;
  right: 5px;
  z-index: 1;
}

.icon__line {
  height: 4px;
  width: 22px;
  background-color: $color--white;
  border-radius: 10px;
}

.burguer__line2 {
  margin: 3px 0;
}

/////////////////////////
//         MQ          //
/////////////////////////

@media screen and (max-width: 767px) {
  .burguer__button {
    display: flex;
  }

  .header .header__container {
    padding: 0;
    justify-content: center;
  }

  .menu {
    position: fixed;
    background: rgba(91, 7, 145, 0.8);
    z-index: 2;
    top: 0;
    bottom: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    transition: 0.3s;

    &__list {
      flex-direction: column;
      height: auto;
      width: 100%;
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 4px 0;
      height: 70px;
      width: 50%;
      border: 1px solid $color--white;
      border-radius: 5px;
      background: rgba(91, 7, 145, 0.9);
    }

    &__list .menu__item a {
      color: $color--white;
      margin: 0;
      width: 100%;
      justify-content: center;
    }
  }

  .menu.is-active {
    left: 0;
  }
}
@media screen and (max-width: 480px) {
  .menu__item {
    width: 70%;
    height: 60px;
  }
}
@media screen and (max-width: 320px) {
  .menu__item {
    width: 90%;
  }
}
