@import './normalize.scss';
@import './Vars.scss';

/////////////////////////
//       Globals       //
/////////////////////////

* {
  box-sizing: border-box;
}

html {
  /* eliminate horizontal scroll */
  max-width: 100%;
  overflow-x: hidden;
  font-size: 16px;
  font-family: $font2;
  scroll-behavior: smooth;
  color: $color--black;
}

body {
  /* eliminate horizontal scroll */
  max-width: 100%;
  overflow-x: hidden;
  background-color: $color--white;
}

//Titular mayor (h1), primary2-dark
//h2, if an h1 already, primary2, if not, primary2-dark

h1 {
  font-family: $font1;
  font-weight: 800;
}

h2 {
  font-family: $font1;
  @include font-size(32px);
  line-height: 48px;
  letter-spacing: 0;
  font-weight: 800;
  color: $color--primary2-dark1;
}

h3 {
  font-family: $font1;
  @include font-size(24px);
  line-height: 35px;
  letter-spacing: 0;
  font-weight: 700;
}

h4 {
  font-family: $font1;
  @include font-size(20px);
  line-height: 30px;
  letter-spacing: 0;
  font-weight: 700;
}

p {
  @include paragraph--regular;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}

/////////////////////////
//   Sponsors slider   //
/////////////////////////
//Estilos son globales porque al hacerlos scoped no se aplican bien

.swiper-button-next {
  background-image: url('../assets/GeneralUse/IconsAndButtons/arrow_right.svg');
  background-size: auto;
  background-position: center;
  width: 36px !important;
}
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url('../assets/GeneralUse/IconsAndButtons/arrow_left.svg');
  background-size: auto;
  background-position: center;
  width: 36px !important;
}
.swiper-button-prev::after {
  display: none;
}

/////////////////////////
//       Globals       //
/////////////////////////
.error__message {
  color: $color--primary1;
  @include font-size(16px);
  font-weight: 600;
}
.success__message {
  color: $color--confirmation;
  @include font-size(16px);
  font-weight: 600;
}
