@import '../../../../../styles/Vars.scss';

.container {
  max-width: 490px;

  h1 {
    margin: 0;
  }
  h4 {
    margin: 0;
  }
  .subtitle {
    margin: 0;
    margin-bottom: 15px;
  }
  .options {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 0;
    padding: 0;
    li {
      border: 2px solid $color--primary2;
      cursor: pointer;
      width: 100%;
      margin: 8px 0;
      height: 100px;
      box-shadow: 14px 21px 20px -15px rgb(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-radius: 5px;
      padding: 15px 0 15px 15px;
      .iconContainer {
        margin-right: 6px;
      }
      p {
        margin: 0;
        color: $color--primary2;
      }
    }
  }
  .pause_verif_process_message {
    margin-top: 60px;
  }
  .contactButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
}

/////////////////////////
//         MQ         //
/////////////////////////
@media screen and (max-width: 880px) {
}

////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
}
////////////////////////////////////////480/////////////////////////////////////////////
@media screen and (max-width: 480px) {
  .container {
    .options {
      li {
        height: fit-content;
        padding: 8px;
        .iconContainer {
          min-width: 60px;
        }
      }
    }
    .pause_verif_process_message {
      margin-top: 40px;
    }
  }
}
////////////////////////////////////////320/////////////////////////////////////////////

@media screen and (max-width: 320px) {
}
