@import '../../../../../styles/Vars.scss';

.form {
  max-width: 490px;
  align-self: center;
  vertical-align: center;
  /////////////////////////
  // after sent elements //
  /////////////////////////
  .sent__message {
    margin: 50px auto;
  }
  .sent__resendOption {
    @include font-size(14px);
    margin: 0;
    span {
      font-weight: 700;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  /////////////////////////////
  h1 {
    margin: 0;
  }
  h4 {
    margin: 0;
  }
  .form__subtitle {
    margin: 0;
    margin-bottom: 15px;
  }

  input {
    width: 100%;
    background-color: $color--secondary-light;
    border: 1px solid $color--black;
    height: 45px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 8px;
  }
  .confirmationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    .iconContainer {
      margin-right: 8px;
      padding-top: 5px;
    }
    label {
      @include font-size(16px);
      width: 100%;
    }
  }

  .inputText__errors {
    color: $color--primary1;
    margin: 0;
    position: relative;
    top: -42px;
    font-weight: bold;
  }

  //Buttons
  .sentLinkButton {
    position: relative;
    .dot_flashing {
      position: absolute;
      top: -4px;
      right: -2px;
      width: 12px;
      height: 12px;
      border-radius: 10px;
      animation: dotFlashing 0.25s infinite ease alternate;
    }
    @keyframes dotFlashing {
      0% {
        background-color: $color--primary2;
      }
      100% {
        background-color: $color--primary2-light2;
      }
    }
  }
  .buttonLoading {
    background-color: rgba(173, 33, 70, 0.4);
    cursor: default;
  }

  .pause_verif_process_message {
    margin-top: 60px;
  }
  .contactButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
}

/////////////////////////
//         MQ         //
/////////////////////////
@media screen and (max-width: 880px) {
}

////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
}
////////////////////////////////////////480/////////////////////////////////////////////

@media screen and (max-width: 480px) {
}
////////////////////////////////////////320/////////////////////////////////////////////

@media screen and (max-width: 320px) {
}
