@import "../globals";
@import "../components/header";

body {
  .body__gridContainer {
    display: grid;
  }
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}

/////////////////////////
//        Footer       //
/////////////////////////

/////////////////////////
//         MQ         //
/////////////////////////

@import "../MQ/index_767";
@import "../MQ/index_480";
@import "../MQ/index_320";
