@import "../globals";
@import "../components/header";
@import "../components/footer";

body {
  .body__gridContainer {
    display: grid;
  }
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}

/////////////////////////
//         Hero         //
/////////////////////////

.hero {
  background-color: $color--primary1;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    color: $color--white;
    @include font-size(65px);
    text-align: center;
    line-height: 100px;
    margin: 30px 0;
  }

  &__image-container {
    width: auto;
    margin: 0;
    margin-bottom: 70px;
    margin-right: -120px;
  }

  &__image {
    max-width: 100%;
  }
}

/////////////////////////
//       Main         //
/////////////////////////

.main {
  &__title-container {
    margin: 60px auto;
    text-align: center;
  }
}

/////////////////////////
//         MQ         //
/////////////////////////

// @media screen and (max-width: 1100px) {

// }

@import "../MQ/index_767";
@import "../MQ/index_480";
@import "../MQ/index_320";
