@import '../../../../styles/Vars.scss';

.slider {
  width: 100%;
  height: 400px;
  background-color: $color--light-gray;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
}

/////////////////////////
//         MQ         //
/////////////////////////
@media screen and (max-width: 880px) {
}

////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
}
////////////////////////////////////////480/////////////////////////////////////////////

@media screen and (max-width: 480px) {
}
////////////////////////////////////////320/////////////////////////////////////////////

@media screen and (max-width: 320px) {
}
