@import '../../../styles/Vars.scss';

.button_back {
  display: flex;
  padding: 10px;
  margin: 0;
  margin-top: 32px;
  span {
    transform: rotate(90deg);
    margin-right: 8px;
  }
}

/////Disabled states
.link_disabled {
  pointer-events: none;
}

.btn_disabled {
  opacity: 0.5;
}
