@import '../../assets/styles/Vars.scss';

/////////////////////////
//      Main Post      //
/////////////////////////

.Posts {
  &__main {
    background-color: $color--light-gray;
    h3 {
      color: $color--primary1;
      text-align: center;
    }
    h1 {
      color: $color--primary2-dark1;
    }
  }
}

.MainPost {
  padding: 10px 8px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'PostImage PostTitle'
    'PostImage PostDescription'
    'PostImage PostButton';
  figure {
    grid-area: PostImage;
    display: flex;
    margin: 0;
    img {
      max-width: 100%;
      border-radius: 3px;
      box-shadow: 14px 21px 20px -15px rgba(0, 0, 0, 0.3);
    }
  }
  h1,
  p {
    margin-left: 32px;
  }
}

/////////////////////////
//    Posts Table      //
/////////////////////////

.AllPosts {
  h3 {
    text-align: center;
    color: $color--primary2-dark1;
  }
  .AllPostsGrid {
    padding-top: 52px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px 60px;
    figure {
      margin: 0;
      img {
        max-width: 100%;
        border-radius: 3px;
        box-shadow: 14px 21px 20px -15px rgba(0, 0, 0, 0.3);
      }
    }
    h4 {
      color: $color--primary2-dark1;
    }
    hr {
      display: none;
    }
  }
}

/////////////////////////
//         MQ         //
/////////////////////////
@import './MQ_PostsTable.scoped.scss';
