@import '../../../styles/Vars.scss';

/////////////////////////
//       Header        //
/////////////////////////
.header {
  box-shadow: 0 4px 6px 0 #20212447;
  position: relative;
  .header__container {
    padding: 0 10px 10px;

    .header__logo {
      margin: auto 0;
      button {
        background-color: transparent;
        border: 0px;
        cursor: pointer;
        padding: 0;
        margin: 20px 0;
      }
    }
  }
}

.menu,
.menu__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

//Estilos menu general
.menu__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  height: inherit;
  margin: 0;
  .menu__item a,
  .menu__item div {
    text-decoration: none;
    color: $color--black;
    height: inherit;
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-right: 85px;
    cursor: pointer;
  }
}

//Estilos menu user
.menu__user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  .menu__item {
    padding: 10px;
    height: inherit;
    margin-left: 8px;
  }
  .menu__item a {
    text-decoration: none;
    color: $color--white;
    height: inherit;
    display: flex;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
  }
  .menu__logButton a {
    color: $color--black;
  }
}

.menu__list a:hover,
.menu__list div:hover {
  color: $color--primary1;
}

/////////////////////////
//   Burguer button    //
/////////////////////////

.burguer__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(59, 5, 94, 0.8);
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 5px;
  right: 5px;
  z-index: 1;
}

.icon__line {
  height: 4px;
  width: 22px;
  background-color: $color--white;
  border-radius: 10px;
}

.burguer__line2 {
  margin: 3px 0;
}

/////////////////////////
//         MQ          //
/////////////////////////
@media screen and (max-width: 930px) {
  .menu__list {
    .menu__item a,
    .menu__item div {
      margin-right: 50px;
    }
  }
}

@media screen and (max-width: 880px) {
  .menu__list {
    .menu__item a,
    .menu__item div {
      margin-right: 45px;
    }
  }
}

@media screen and (max-width: 767px) {
  .burguer__button {
    display: flex;
  }

  .header .header__container {
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .menu {
    position: fixed;

    //light glasmorphism
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);

    z-index: 2;
    top: 0;
    bottom: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: 0.3s;
    .menu__list {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
      flex-direction: column;
      height: auto;
      width: 100%;
      .menu__item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4px 0;
        height: 70px;
        width: 50%;
        border: 1px solid $color--white;
        border-radius: 5px;
        background: rgba(91, 7, 145, 0.9);
      }
      .menu__item a,
      .menu__item div {
        color: $color--white;
        margin: 0;
        width: 100%;
        justify-content: center;
      }
    }

    .menu__user {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: auto;
      width: 100%;
    }
    .menu__item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 4px 0;
      height: 40px;
      width: 50%;
    }
    .menu__logButton {
      background-color: $color--white;
    }
  }

  .menu.is-active {
    left: 0;
  }
}
@media screen and (max-width: 480px) {
  .menu__item {
    width: 70%;
    height: 60px;
  }
}
@media screen and (max-width: 320px) {
  .menu__item {
    width: 90%;
  }
}
