@import '../../../styles/Vars.scss';

/////////////////////////
//       Header        //
/////////////////////////
.header {
  box-shadow: 0 4px 6px 0 #20212447;
  position: relative;
  .header__container {
    padding: 0 10px 10px;

    .header__logo {
      margin: auto 0;
      display: flex;
      justify-content: space-between;
      .header__logo_button {
        background-color: transparent;
        border: 0px;
        cursor: pointer;
        padding: 0;
        margin: 20px 0;
      }
    }
  }
}

/////////////////////////////////
// logged in user menu (right) //
/////////////////////////////////
//Disabled in 767 screen
.header__logged_user_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  .icon {
    margin-right: 8px;
  }
  p {
    margin: 0;
    font-weight: 700;
  }
  .logoutButton {
    padding: 8px;
    height: inherit;
    margin-left: 8px;
  }
  .logoutButton a {
    text-decoration: none;
    color: $color--white;
    height: inherit;
    display: flex;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
  }
}

/////////////////////////
//    General menu     //
/////////////////////////

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

//Estilos menu general unlogged
.menu__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  height: inherit;
  margin: 0;
  .menu__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    margin-right: 85px;
    cursor: pointer;
  }
  .menu__item a,
  .menu__item div {
    text-decoration: none;
    color: $color--black;
    height: inherit;
    display: flex;
    align-items: center;
    font-weight: 700;
  }
}

/////////////////////////
//    Login buttons    // (login + registrarse)
/////////////////////////

.loginMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  .loginMenu__item {
    padding: 10px;
    margin-left: 8px;
  }
  .loginMenu__item a {
    text-decoration: none;
    color: $color--white;
    height: inherit;
    display: flex;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
  }
  .menu__logButton a {
    color: $color--black;
  }
}

//Disabling logged in user menu that ONLY DISPLAYS in the 767px menu
.userMenu__767 {
  display: none;
}

.menu__list a:hover,
.menu__list div:hover {
  color: $color--primary1;
}

/////////////////////////
//   Burguer button    //
/////////////////////////

.burguer__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(59, 5, 94, 0.8);
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 5px;
  right: 5px;
  z-index: 1;
}

.icon__line {
  height: 4px;
  width: 22px;
  background-color: $color--white;
  border-radius: 10px;
}

.burguer__line2 {
  margin: 3px 0;
}

/////////////////////////
//         MQ          //
/////////////////////////
@media screen and (max-width: 930px) {
  //Estilos menú general unlogged
  .menu__list {
    .menu__item {
      margin-right: 75px;
    }
  }
  //Estilos menu general logged
  .menu__list--logged {
    .menu__item {
      margin-right: 90px;
    }
  }
}

@media screen and (max-width: 880px) {
  //Estilos menú general unlogged
  .menu__list {
    .menu__item {
      margin-right: 45px;
    }
  }
  //Estilos menu general logged, dejar justo de lo estilos para logged
  //para que este tenga más valor y se sobreescriba
  .menu__list--logged {
    .menu__item {
      margin-right: 100px;
    }
  }
}

@media screen and (max-width: 767px) {
  .burguer__button {
    display: flex;
  }
  //Disabling logged in user menu next to logo for screens smaller than 767px
  .header__logged_user_menu {
    display: none;
  }

  .header .header__container {
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .menu {
    position: fixed;

    //light glasmorphism
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);

    z-index: 2;
    top: 0;
    bottom: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: 0.3s;
    .menu__list {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;
      flex-direction: column;
      height: auto;
      width: 100%;
      .menu__item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4px 0;
        height: 70px;
        width: 50%;
        border: 1px solid $color--white;
        border-radius: 5px;
        background: rgba(91, 7, 145, 0.9);
      }
      .menu__item a,
      .menu__item div {
        color: $color--white;
        margin: 0;
        width: 100%;
        justify-content: center;
      }
    }

    /////////////////////////
    //    Login buttons    // (login + registrarse)
    /////////////////////////

    .loginMenu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: auto;
      width: 100%;
      .loginMenu__item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4px 0;
        height: 40px;
        width: 50%;
      }
      .menu__logButton {
        background-color: $color--white;
      }
    }

    /////////////////////////
    //  userMenu for 767   // (userinfo + logout)
    /////////////////////////

    //Enabling and styling logged in user menu
    //inside nav for screen smaller than 767px
    .userMenu__767 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin: 0;
      width: 100%;
      .user__info {
        display: flex;
        align-items: center;
        .user__icon {
          margin-right: 8px;
        }
        p {
          font-weight: 700;
        }
      }
      .signoutButton a {
        color: $color--white;
        text-decoration: none;
      }
    }
  }

  .menu.is-active {
    left: 0;
  }
}
@media screen and (max-width: 480px) {
  .menu {
    .menu__list {
      .menu__item {
        width: 70%;
      }
    }
  }
}
@media screen and (max-width: 320px) {
  .menu {
    .menu__list {
      .menu__item {
        width: 90%;
      }
    }

    .loginMenu {
      .loginMenu__item {
        width: 60%;
      }
    }
  }
}
