@import '../../assets/styles/Vars.scss';

.form {
  max-width: 350px;
  min-width: 290px;
  //box-sizing: border-box;
  border: 1px $color--primary2 solid;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 3px;
  padding: 10px;
  background-color: $color--secondary-white;
  box-shadow: 14px 21px 20px -19px rgba(0, 0, 0, 0.3);
  &__title {
    margin: 16px 0;
  }
  &__labelTag {
    position: relative;
  }
  &__inputLabel {
    position: absolute;
    left: 6px;
    top: 11px;
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    transition: transform 120ms ease-in;
    // font-weight: bold;
    line-height: 1.2;
    background-color: $color--white;
    color: $color--dark-gray;
    cursor: auto;
  }
  &__input {
    border-radius: 3px;
    margin-bottom: 20px;
    border: 1px solid $color--primary2-dark1;
    padding: 10px;
    height: 40px;
    box-sizing: border-box;
    background-color: $color--white;
    width: 100%;

    &:focus,
    &:not(:placeholder-shown) {
      & + .form__inputLabel {
        transform: translate(-0.2rem, -90%) scale(0.8);
        color: $color--primary1;
      }
    }
  }

  &__FileInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  &__FileInputLabelTag {
    @include font-size(16px);
    font-weight: 700;
    color: $color--white;
    background-color: $color--primary1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    cursor: pointer;
    box-shadow: 14px 21px 20px -19px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    margin-bottom: 20px;
  }
  &__uploadIcon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  &__FileInputLabelTag:focus,
  &__FileInputLabelTag:hover {
    background-color: rgba(173, 33, 70, 0.8);
  }

  &__input::placeholder {
    color: transparent;
  }
  &__message {
    min-height: 180px;
    margin-bottom: 10px;
  }
  &__message::-webkit-scrollbar {
    background-color: $color--light-gray;
    width: 10px;
  }
  &__message::-webkit-scrollbar-thumb {
    background-color: $color--primary2;
    border-radius: 8px;
  }
  &__message::placeholder {
    color: $color--dark-gray;
  }

  /////////////////////////
  //    Uploaded files    //
  /////////////////////////

  .uploadedfiles__Container {
    background-color: $color--light-gray;
    // border: 1px $color--primary2 solid;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 0px 8px 4px;
    div {
      @include font-size(14px);
      margin: 4px;
      button {
        margin-left: 5px;
        background-color: $color--light-gray;
        border: none;
        padding: 0;
        cursor: pointer;
        margin-bottom: -5px;
        transform: translate(0px, 4px);
        img {
          height: 18px;
          width: 15px;
        }
      }
    }
  }
}

/////////////////////////
//         MQ         //
/////////////////////////
@media screen and (max-width: 880px) {
}

////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
}
////////////////////////////////////////480/////////////////////////////////////////////

@media screen and (max-width: 480px) {
}
////////////////////////////////////////320/////////////////////////////////////////////

@media screen and (max-width: 320px) {
}
