@import '../../../Vars.scss';

//Loadint state while displaying page
.loaderContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 0 8px 20px;
}

.title_flex_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    margin: 0;
    margin-top: 10px;
    padding: 9px;
    padding-top: 7px;
    box-shadow: none;
    span {
      @include font-size(18px);
    }
  }
}

.table_explanation {
  margin: 0 0 8px;
}

.discounts {
  border: 1px solid $color--dark-gray;
  border-radius: 5px;

  /////////////////////////
  //         Table         //
  /////////////////////////
  .discounts_table {
    border-collapse: collapse;
    width: 100%;
    thead tr {
      background-color: $color--light-gray;
      text-align: center;
      font-weight: bold;
      @include font-size(16px);
      border-bottom: 1px solid $color--dark-gray;
    }
    th {
      padding: 8px 15px;
    }
    td {
      padding: 0 15px;
    }
    tbody {
      border-bottom: 1px solid $color--dark-gray;
    }
    tbody tr {
      border-bottom: 1px solid $color--dark-gray;
      h5 {
        margin: 16px 0;
      }
    }
    tbody tr:hover {
      cursor: pointer;
      background-color: $color--tertiary-white;
    }
    .column2,
    .column3,
    .column4,
    .column5 {
      text-align: center;
    }
    .expired {
      background-color: $color--primary1;
      color: $color--white;
      font-weight: bold;
    }
    .unavailable {
      background-color: $color--primary1;
      color: $color--white;
      font-weight: bold;
      padding: 2px;
      border-radius: 2px;
    }
    .available {
      background-color: $color--confirmation;
      color: $color--white;
      font-weight: bold;
      padding: 2px;
      border-radius: 2px;
    }
  }
}

/////////////////////////
//         MQ         //
/////////////////////////
@media screen and (max-width: 880px) {
}

////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
  .discounts {
    overflow-x: scroll;
    display: block;
    white-space: nowrap;

    /////////////////////////
    //         Table         //
    /////////////////////////
    .discounts_table {
      .unavailable {
        padding: 4px;
      }
      .available {
        padding: 4px;
      }
    }
  }
}
////////////////////////////////////////480/////////////////////////////////////////////

@media screen and (max-width: 480px) {
  .title_flex_container {
    flex-direction: column;
    h1 {
      margin: 0;
    }
    button {
      margin: 8px 0;
    }
  }
}
////////////////////////////////////////320/////////////////////////////////////////////

@media screen and (max-width: 320px) {
}
