@import '../../../Vars.scss';

//Loadint state while displaying page
.loaderContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 0 8px 20px;
  max-width: 1700px;
  h5 {
    margin: 0;
    margin-top: -16px;
    margin-bottom: 8px;
    @include font-size(16px);
  }
  .search_bar {
    width: 100%;
    background-color: $color--secondary-light;
    border: 1px solid $color--black;
    height: 40px;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px;
    max-width: 550px;
  }
  .filtered_discounts_count {
    margin: 0;
  }
}

.title_flex_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    margin: 0;
    margin-top: 10px;
    padding: 9px;
    padding-top: 7px;
    box-shadow: none;
    span {
      @include font-size(18px);
    }
  }
}

.table_explanation {
  margin: 0 0 8px;
}

/////////////////////////
//         MQ         //
/////////////////////////
@media screen and (max-width: 1380px) {
}

////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
}
////////////////////////////////////////480/////////////////////////////////////////////

@media screen and (max-width: 480px) {
  .container {
    .title_flex_container {
      flex-direction: column;
      h1 {
        margin: 0;
      }
      button {
        margin: 8px 0;
      }
    }
    h5 {
      margin: 0;
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
}
////////////////////////////////////////320/////////////////////////////////////////////

@media screen and (max-width: 320px) {
}
