@import '../../../Vars.scss';

//Loadint state while displaying page
.loaderContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 0 8px 20px;
  .search_bar {
    width: 100%;
    background-color: $color--secondary-light;
    border: 1px solid $color--black;
    height: 40px;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px;
    max-width: 400px;
  }
}

.title_create_brand_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    margin: 0;
    margin-top: 10px;
    padding: 9px;
    padding-top: 7px;
    box-shadow: none;
    span {
      @include font-size(18px);
    }
  }
}

.brands {
  border: 1px solid $color--dark-gray;
  border-radius: 5px;

  /////////////////////////
  //         Table         //
  /////////////////////////

  .table {
    border-collapse: collapse;
    border-bottom: 1px solid $color--dark-gray;
    width: 100%;
    thead tr {
      background-color: $color--light-gray;
      text-align: center;
      font-weight: bold;
      @include font-size(16px);
      border-bottom: 1px solid $color--dark-gray;
    }
    th {
      padding: 8px 15px;
    }
    td {
      padding: 0 15px;
    }
    tbody tr {
      border-bottom: 1px solid $color--dark-gray;
      .logo {
        max-width: 100px;
        height: 50px;
      }
      h5 {
        margin: 16px 0;
      }
      td {
        .check_icon_container,
        .x_icon_container {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $color--primary1;
          color: $color--white;
          border-radius: 3px;
          border: 1px solid $color--light-gray;
          height: 18px;
          width: 18px;
          margin: 0 auto;
          padding-bottom: 2px;
        }
        .check_icon_container {
          background-color: initial;
          border: none;
        }
      }
    }
    tbody tr:hover {
      background-color: $color--tertiary-white;
      cursor: pointer;
    }
    .column1,
    .column2,
    .column3,
    .column4,
    .column5 {
      text-align: center;
    }
    .column1 {
      max-width: 80px;
    }
  }
}

/////////////////////////
//         MQ         //
/////////////////////////
@media screen and (max-width: 880px) {
}

////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
  .brands {
    overflow-x: scroll;
    display: block;
    white-space: nowrap;
    transform: rotateX(180deg);
    .table {
      transform: rotateX(180deg);
      .column1 {
        max-width: 120px;
      }
    }
  }
}
////////////////////////////////////////480/////////////////////////////////////////////

@media screen and (max-width: 480px) {
}
////////////////////////////////////////320/////////////////////////////////////////////

@media screen and (max-width: 320px) {
}
