@import '../../../Vars.scss';
@import '../../../Animations/dotLoadingButton.module.scss';

//Loadint state while displaying page
.loaderContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 800px;
  .manage_brands_btn {
    margin: 0;
    padding: 9px;
  }
  h1 {
    margin-bottom: 8px;
  }
  h2 {
    margin: 0;
    @include font-size(24px);
  }

  .flex_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .section_title {
    margin: 30px 0 0;
    font-weight: bold;
  }

  section {
    padding: 8px;
    border: 1px solid $color--dark-gray;
    border-radius: 5px;
  }

  .input_title {
    margin: 0 0 8px;
    @include font-size(14px);
    display: block;
    font-weight: bold;
  }

  .input,
  textarea {
    width: 100%;
    background-color: $color--secondary-light;
    border: 1px solid $color--black;
    height: 40px;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 30px;
    padding: 10px;
  }
  .char_count {
    text-align: right;
    margin: -35px 0 0;
    @include font-size(12px);
    color: $color--dark-gray;
  }
  .char_count_warn span {
    background-color: $color--warning;
    color: $color--white;
    padding: 2px;
    border-radius: 5px;
    opacity: 0.6;
  }

  .error_under_input {
    margin-top: -35px;
  }

  .disabled {
    opacity: 0.3;
  }

  /////////////////////////
  //    Tooltip styles    //
  /////////////////////////

  .label_tooltip_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }

  .tooltip_container {
    position: relative;
    @include font-size(14px);
    font-weight: bold;
    top: -6px;
    background-color: $color--light-gray;
    border: 2px solid $color--dark-gray;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color--primary1;
    cursor: default;
    .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;

      /* Position the tooltip */
      position: absolute;
      z-index: 1;
      width: 120px;
      bottom: 125%;
      left: 50%;
      margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    }
  }
  .tooltip_container:hover .tooltiptext {
    visibility: visible;
  }
}

/////////////////////////
//General info container//
/////////////////////////
.general_info_container {
  .status_container {
    max-width: 200px;
  }
  .description_text_area {
    min-height: 60px;
  }

  .brand_category_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    .brand_datalist_container,
    .category_datalist_container {
      width: 100%;
    }
  }

  .discount_type_title {
    margin: 0 0 8px;
    @include font-size(14px);
    display: block;
    font-weight: bold;
  }

  .radio_input_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 8px 0;
  }

  .radio_input:where([type='radio']) {
    width: 18px;
    height: 18px;
    margin: calc(0.75em - 11px) 0.25rem 0 0;
  }

  .discount_type_container {
    .discount_code_type_container,
    .affiliate_type_container,
    .dynamically_generated_type_container {
      border-top: 1px solid $color--dark-gray;
      border-bottom: 1px solid $color--dark-gray;
      margin-top: 16px;
      padding-top: 8px;
    }

    .disc_code_input_label_container {
      max-width: 370px;
    }

    //////////////////////////////
    // Affiliate link only info //
    //////////////////////////////

    .call_to_action_container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }

  .available_for_title {
    margin: 16px 0 8px;
    @include font-size(14px);
    display: block;
    font-weight: bold;
  }

  .valid_exp_dates_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding-top: 8px;
  }

  .valid_exp_dates_container > div {
    width: 100%;
  }

  .home_slider_section {
    margin-top: 16px;
    .add_home_slider_banner_checkbox_container {
      max-width: 250px;
    }
    .upload_images_container {
      margin-top: 8px;
      padding: 12px 0 0;
      border-top: 1px solid $color--dark-gray;
      .upload_small_Home_slider_img_label {
        margin-top: 8px;
      }
    }
  }
}

/////////////////////////
// Card info container //
/////////////////////////
.card_info_container {
  .card_title_tag_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
  }
  .card_title_tag_container > div {
    width: 100%;
  }

  .display_in_section_datalist_container {
    max-width: 370px;
  }

  .show_first_in_home_category_checkbox_container {
    margin-top: -30px;
    margin-left: -3px;
    max-width: 290px;
  }

  .current_discounts_per_section_table_container {
    margin-bottom: 8px;
    padding-bottom: 16px;
    border-bottom: 1px solid $color--dark-gray;
    .current_discounts_per_section_table {
      margin: 0 auto;
    }
  }

  .show_first_in_all_discounts_container {
    border-bottom: 1px solid $color--dark-gray;
    .show_first_in_all_discounts_checkbox_container {
      max-width: 320px;
    }
    p {
      margin: 0;
      @include font-size(14px);
      line-height: 1.5;
    }
  }

  .current_discounts_per_section_table,
  .current_display_first_by_category_table {
    @include font-size(14px);
    text-align: center;
    background-color: $color--black;
    thead tr {
      background-color: $color--primary1;
      color: $color--white;
      text-align: center;
      border: 1px solid $color--dark-gray;
    }
    th,
    td {
      padding: 4px;
    }
    tbody {
      .first_row {
        background-color: $color--secondary-white;
        font-weight: bold;
      }
      .second_row {
        background-color: $color--white;
      }
    }
    tbody td {
      border-bottom: 1px solid $color--dark-gray;
    }
  }

  .checkbox_tooltip_container {
    display: flex;
    align-items: center;
  }
  .current_display_first_by_category_table {
    width: 100%;
  }
}

.submit_btn {
  margin: 16px 0 16px auto;
  box-shadow: none;
}

/////////////////////////
//         MQ         //
/////////////////////////
@media screen and (max-width: 880px) {
}

////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
  .card_info_container {
    .display_in_section_datalist_container {
      max-width: 355px;
    }
  }
}
////////////////////////////////////////480/////////////////////////////////////////////

@media screen and (max-width: 480px) {
  /////////////////////////
  //General info container//
  /////////////////////////
  .general_info_container {
    .brand_category_container {
      flex-direction: column;
      gap: 0;
    }

    .call_to_action_container {
      flex-direction: column;
      .call_to_action_input_label_container {
        width: 100%;
      }
      .call_to_act_btn {
        margin-bottom: 20px;
      }
    }

    .valid_exp_dates_container {
      flex-direction: column;
      gap: 0;
    }
  }

  /////////////////////////
  // Card info container //
  /////////////////////////
  .card_info_container {
    .card_title_tag_container {
      flex-direction: column;
      gap: 0;
    }
    .display_in_section_datalist_container {
      max-width: 100%;
    }
    .current_discounts_per_section_table {
      overflow-x: scroll;
      display: block;
      white-space: nowrap;
    }
    .current_display_first_by_category_table {
      overflow-x: scroll;
      display: block;
      white-space: nowrap;
    }
  }
}
////////////////////////////////////////320/////////////////////////////////////////////

@media screen and (max-width: 320px) {
}
