@media screen and (max-width: 880px) {
}

////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
  /////////////////////////
  //    Requirements     //
  /////////////////////////

  .requirements {
    flex-direction: column-reverse;
    &__image {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      width: 100%;
      img {
        width: 100%;
      }
    }
    &__list {
      width: 100%;
    }
  }
}
////////////////////////////////////////480/////////////////////////////////////////////

@media screen and (max-width: 480px) {
  .body__gridContainer {
    padding-top: 40px;
  }
  /////////////////////////
  //    Specifications   //
  /////////////////////////
  .hero {
    &__specifications {
      flex-direction: column;
    }
    &__specificationsList1 {
      width: 100%;
    }
    &__specificationsList2 {
      width: 100%;
    }
    ul {
      padding-left: 18px;
    }
  }
}
////////////////////////////////////////320/////////////////////////////////////////////

@media screen and (max-width: 320px) {
}
