@import '../../../../../styles/Vars.scss';
@import '../../../../../styles/Animations/dotLoadingButton.module.scss';

.form {
  max-width: 490px;
  align-self: center;
  vertical-align: center;

  h1 {
    margin: 0;
  }
  h4 {
    margin: 0;
  }
  .form__subtitle {
    margin: 0;
    margin-bottom: 15px;
  }
  label {
    @include font-size(16px);
    display: block;
    margin-bottom: 8px;
  }
  input {
    width: 100%;
    background-color: $color--secondary-light;
    border: 1px solid $color--black;
    height: 45px;
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 10px;
  }

  .password_input_container {
    display: flex;
    img {
      cursor: pointer;
      margin-left: -35px;
      max-width: 25px;
      margin-bottom: 22px;
    }
  }

  .inputText__RepPassword {
    margin-bottom: 20px;
  }
  .termsCheckboxContainer {
    display: flex;
  }

  //////////////////////////Custom checkbox (start)//////////////////////////

  .newsletter__checkbox_container,
  .terms__checkbox_container {
    border: 3px solid $color--primary2;
    padding: 5px;
    border-radius: 2px;
    @include font-size(14px);
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
  }
  .terms__checkbox_container {
    border: none;
    @include font-size(12px);
    padding-left: 34px;
  }

  /* Hide the browser's default checkbox */
  .newsletter__checkbox_container input,
  .terms__checkbox_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 9px;
    left: 4px;
    height: 25px;
    width: 25px;
    background-color: $color--white;
    border: 1px solid $color--black;
    border-radius: 3px;
  }

  .terms__checkbox_container .checkmark {
    top: 8px;
    left: 4px;
    height: 20px;
    width: 20px;
  }

  /* On mouse hover */
  .newsletter__checkbox_container:hover input ~ .checkmark,
  .terms__checkbox_container:hover input ~ .checkmark {
    background-color: $color--light-gray;
  }

  /* Checkbox background when checked */
  .newsletter__checkbox_container input:checked ~ .checkmark,
  .terms__checkbox_container input:checked ~ .checkmark {
    background-color: $color--secondary;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .newsletter__checkbox_container input:checked ~ .checkmark:after,
  .terms__checkbox_container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .newsletter__checkbox_container .checkmark:after,
  .terms__checkbox_container .checkmark:after {
    left: 8px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid $color--white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  .terms__checkbox_container .checkmark:after {
    left: 6px;
    top: 1px;
  }

  //////////////////////////Custom checkbox (end)//////////////////////////

  .buttons {
    margin-top: 16px;
    a,
    p {
      @include font-size(14px);
    }
    p {
      margin: 0;
    }
    button {
      margin-top: 10px;
      position: relative;
    }
    .buttonLoading {
      background-color: rgba(173, 33, 70, 0.4);
      cursor: default;
    }
    .buttonLoading::after {
      content: '';
      position: absolute;
      top: -4px;
      right: -2px;
      width: 12px;
      height: 12px;
      border-radius: 10px;
      animation: setDotLoading();
    }
  }

  //To show errors under each input
  .inputText__label {
    position: relative;
  }

  .inputText__errors {
    color: $color--primary1;
    margin: 0;
    position: absolute;
    z-index: 1;
    top: 66px;
    font-weight: bold;
  }

  .inputCheckBox__errors {
    color: $color--primary1;
    margin: 0;
    position: relative;
    font-weight: bold;
  }

  .errorMessage {
    top: -45px;
    color: $color--primary1;
    @include font-size(16px);
    font-weight: 600;
  }
  &__personal_data_text {
    border-top: 1px solid $color--black;
    margin-top: 30px;
    padding-top: 10px;
    @include font-size(12px);
    line-height: 1.2;
  }
}

/////////////////////////
//         MQ         //
/////////////////////////
@media screen and (max-width: 480px) {
  .form {
    .buttons {
      a,
      p {
        margin-left: 10px;
      }
    }
  }
}
