@import '../Vars.scss';

.body__gridContainer {
  display: grid;
  padding: 0px 8px 90px;
  background-image: url('../../assets/PagesImages/ContactoImages/contact_background.png'),
    url('../../assets/GeneralUse/BG_sticker_1.svg'),
    url('../../assets/GeneralUse/BG_sticker_2.svg'),
    url('../../assets/GeneralUse/BG_sticker_3.svg'),
    url('../../assets/GeneralUse/BG_sticker_4.svg'),
    url('../../assets/GeneralUse/BG_sticker_5.svg'),
    url('../../assets/GeneralUse/BG_sticker_6.svg'),
    url('../../assets/GeneralUse/BG_sticker_7.svg');
  background-repeat: no-repeat;
  background-position: 0% 0%, 17% 62%, 90% 90%, 74% 51%, 43% 58%, 66% 33%,
    53% 39%, 38% 28%;
  background-size: 100% 360px, auto, auto, auto, auto, auto, auto, auto;
}

.contactForm h1 {
  color: $color--white;
  text-align: center;
  @include font-size(70px);
  margin: 30px 0 30px;
}

/////////////////////////
//    Contact Info     //
/////////////////////////

.contactInfo {
  &__title {
    margin: 50px 0 30px;
  }
  max-width: 515px;
  // &__address,
  &__phone {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    a {
      margin: 16px 0;
      text-decoration: none;
      font-weight: bold;
    }
  }
  // &__addressIcon,
  &__phoneIcon {
    transform: scale(0.8);
    margin-right: 8px;
  }

  &__media {
    h4 {
      margin-bottom: 8px;
    }
    hr {
      border: 2px solid $color--primary1;
      margin-bottom: 0;
      color: $color--primary1;
    }
  }

  &__mediaIcons {
    margin-top: 25px;
  }
  a {
    margin-right: 16px;
  }
}

/////////////////////////
//         MQ         //
/////////////////////////
@media screen and (max-width: 880px) {
}

////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
  .body__gridContainer {
    background-size: auto 360px, auto, auto, auto, auto, auto, auto, auto;
    background-position: 0% 0%, 17% 62%, 124% 90%, 74% 51%, 43% 58%, 66% 33%,
      53% 39%, 38% 28%;
  }
  .contactForm h1 {
    @include font-size(60px);
  }
}
////////////////////////////////////////480/////////////////////////////////////////////

@media screen and (max-width: 480px) {
  .body__gridContainer {
    padding-bottom: 60px;
    background-position: 0% 0%, 17% 62%, 140% 68%, 74% 51%, 43% 58%, 66% 33%,
      53% 39%, 38% 28%;
  }
  .contactForm h1 {
    @include font-size(50px);
  }

  .contactInfo__mediaIcons {
    margin-top: 16px;
    a {
      margin-right: 8px;
    }
  }
  .contactInfo__mediaIcon {
    transform: scale(0.9);
  }
}
////////////////////////////////////////320/////////////////////////////////////////////

@media screen and (max-width: 320px) {
  .contactForm h1 {
    @include font-size(40px);
    margin-bottom: 30px;
  }
}
