@import '../Vars.scss';
@import '../Buttons.scss';

.body__gridContainer {
  display: grid;
}

.main {
  @include paragraph--regular;
  color: $color--black;
  padding: 0 8px calc(90px - 26px);
  &__container {
    padding: 0 8px;
  }
  h2 {
    text-align: center;
  }
  h3 {
    color: $color--primary2;
  }
  h4 {
    color: $color--primary1;
  }
}
/////////////////////////
//         MQ         //
/////////////////////////
////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 880px) {
}

@media screen and (max-width: 767px) {
}

////////////////////////////////////////480/////////////////////////////////////////////

@media screen and (max-width: 480px) {
}

////////////////////////////////////////320/////////////////////////////////////////////

@media screen and (max-width: 320px) {
  .main {
    padding: 0 8px calc(70px - 26px);
  }
}
