@import '../Vars.scss';

.profile {
  //This styles are to adjust the sidebar (start)
  padding: 8px;
  &__container {
    max-width: 1210px;
    display: grid;
    grid-template-columns: 270px 1fr;
    justify-content: center;
    margin: 0 auto;
    grid-gap: 30px;
  }
  //This styles are to adjust the sidebar (end)
  &__content {
    background-color: $color--secondary;
  }
}

/////////////////////////
//         MQ         //
/////////////////////////
@media screen and (max-width: 880px) {
}

////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
  //This styles are to adjust the sidebar (start)
  .profile {
    &__container {
      display: initial;
    }
    //This styles are to adjust the sidebar (end)
  }
}
////////////////////////////////////////480/////////////////////////////////////////////

@media screen and (max-width: 480px) {
}
////////////////////////////////////////320/////////////////////////////////////////////

@media screen and (max-width: 320px) {
}
