@import '../Vars.scss';
@import '../Animations/dotLoadingButton.module.scss';

//This styles are to adjust the sidebar (start)
.page {
  padding: 8px;
  &__container {
    max-width: 1210px;
    display: grid;
    grid-template-columns: 270px 1fr;
    justify-content: center;
    margin: 0 auto;
    grid-gap: 30px;
  }
}
//This styles are to adjust the sidebar (end)

.Loader__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 16px);
}

//button loading state after clicking for checkout
.buttonLoading {
  background-color: rgba(173, 33, 70, 0.4);
  cursor: default;
  position: relative;
}
.buttonLoading:hover {
  background-color: rgba(173, 33, 70, 0.4);
}
.buttonLoading::after {
  content: '';
  position: absolute;
  top: -4px;
  right: -2px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  animation: setDotLoading();
}

.responseError {
  color: $color--primary1;
  margin: 0;
  font-weight: bold;
}

.profile {
  border: 1px solid $color--dark-gray;
  border-radius: 5px;
  &__container {
    padding: 10px 32px;
  }
  &__goback_button {
    display: none;
  }
  &__name {
    color: $color--primary2-dark1;
    margin: 14px 0 6px;
  }
  &__name_underline {
    height: 1px;
    max-width: 250px;
    background-color: $color--dark-gray;
    margin-bottom: 40px;
  }
  &__submit_button_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 0;
  }
  &__submit_button {
    margin: 0;
  }
}

.horizontal_divider {
  margin: 0 auto;
  width: 100%;
  height: 1px;
  background-color: $color--dark-gray;
}

/////////////////////////
// Edit delete section //
/////////////////////////

.edit_delete {
  padding: 16px 32px;
  &__option {
    display: flex;
  }
  &__icon {
    margin-right: 8px;
  }
  &__delete_option {
    margin-top: 6px;
  }
  &__delete_icon {
    margin-right: 12px;
  }
}

/////////////////////////
//    Shared styles    //
/////////////////////////

.personal,
.address,
.studies {
  margin-bottom: 50px;
}

.personal__title_container,
.address__title_container,
.studies__title_container {
  display: flex;
  align-items: center;
  color: $color--primary2;
}
.personal__title_icon,
.address__title_icon,
.studies__title_icon {
  margin-right: 10px;
}
.personal__title,
.address__title,
.studies__title {
  margin: 0;
}

.personal__inputs,
.address__inputs,
.studies__inputs,
.finish_studies__inputs {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-gap: 0 20px;
}

.input_title {
  margin: 0 0 8px;
  @include font-size(14px);
  display: block;
}

.input {
  width: 100%;
  background-color: $color--secondary-light;
  border: 1px solid $color--black;
  height: 40px;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 30px;
  padding: 10px;
}
.edit_button {
  margin-left: 6px;
  span {
    cursor: pointer;
  }
}
.last_input {
  margin-bottom: 0;
}
.fake_input_container {
  display: flex;
}
.fake_input {
  border: 1px solid $color--dark-gray;
  background-color: $color--light-gray;
  cursor: not-allowed;
  //Truncating text if too long:
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fake_input_placeholder {
  color: $color--dark-gray;
}
.datalist_wrapper {
  position: relative;
  margin-bottom: 30px;
}
.inputText__errors {
  color: $color--primary1;
  margin: 0;
  position: absolute;
  top: 36px;
  font-weight: bold;
  @include font-size(14px);
}

/////////////////////////
//   Datos personales   //
/////////////////////////

/////////////////////////
//  Dirección de envío  //
/////////////////////////

/////////////////////////
//  Sobre mi estudio  //
/////////////////////////
/////////////////////////
//   Fin del estudio   //
/////////////////////////
.finish_studies {
  &__title {
    color: $color--primary2;
    max-width: 50%;
  }
  &__input_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__radio_input:where([type='radio']) {
    width: 22px;
    height: 22px;
    margin: calc(0.75em - 11px) 0.25rem 0 0;
  }
}

/////////////////////////
//         MQ         //
/////////////////////////
@media screen and (max-width: 880px) {
}

////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
  //This styles are to adjust the sidebar (start)
  .page {
    &__container {
      display: initial;
    }
  }
  //This styles are to adjust the sidebar (end)

  .profile {
    &__goback_button {
      display: flex;
      padding: 10px;
      margin: 0;
    }
    &__black_arrow {
      transform: scaleX(-1);
      margin-right: 8px;
    }
  }
}
////////////////////////////////////////480/////////////////////////////////////////////

@media screen and (max-width: 480px) {
  .profile {
    &__container {
      padding: 10px 8px;
    }
  }
  .personal__inputs,
  .address__inputs,
  .studies__inputs,
  .finish_studies__inputs {
    grid-template-columns: 1fr;
  }

  .last_input_480 {
    margin-bottom: 30px;
  }

  .fake_input {
    white-space: initial;
  }

  .finish_studies {
    &__title {
      max-width: 100%;
    }
  }
  .edit_delete {
    padding: 10px 8px;
  }
}
////////////////////////////////////////320/////////////////////////////////////////////

@media screen and (max-width: 320px) {
}
