@import '../Vars.scss';

body {
  .body__gridContainer {
    display: grid;
  }
}

/////////////////////////
//         Hero         //
/////////////////////////

.hero {
  background-color: $color--primary2;
  &__wrapper {
    padding: 0 8px;
  }
  h1 {
    color: $color--white;
    @include font-size(50px);
    text-align: center;
    line-height: 65px;
    margin: 40px 0 60px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .hero__image_container {
      flex: 0 1 50%;
    }
    .hero__text_button_container {
      flex: 0 1 50%;
      margin-bottom: 75px;
      p {
        @include paragraph--big;
        color: $color--white;
        font-weight: bold;
        text-align: center;
      }
      button {
        box-shadow: 0 0 43px -9px rgba(245, 245, 245, 0.5);
      }
      button:hover {
        background-color: #bf264f;
      }
    }
  }
}

/////////////////////////
//       Main         //
/////////////////////////
//Skeleton/loading state
.loadingBtnSpinner {
  position: relative;
  color: $color--primary1;
}
.loadingBtnSpinner:hover {
  background-color: $color--primary1 !important;
  cursor: initial;
}
.loadingBtnSpinner::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.main {
  background-image: url('../../assets/PagesImages/HomeImages/BG_products.svg');
  background-position: 10px;

  &__container {
    padding: 60px 8px 60px;
  }

  &__box_logo_container {
    text-align: center;
    margin: 0 0 40px;
  }

  &__content {
    display: flex;
  }

  &__content-description {
    flex: 0 1 50%;
  }

  &__empty_box_container {
    align-self: center;
    margin: 0;
    img {
      //width: 136%;
      width: 408px;
    }
  }
}

/////////////////////////
//      Benefits       //
/////////////////////////

.benefits {
  background-color: $color--primary1;
  &__container {
    display: flex;
  }
  &__cards {
    width: 48%;
    padding: 10px;
    margin: 0 1%;
  }
  &__description {
    color: $color--white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%;
    margin: 0 1%;
    @include paragraph--big;
    h2 {
      color: $color--white;
    }
  }
}

.card {
  background-color: $color--white;
  border-radius: 10px;
  box-shadow: 10px 20px 20px 0 #00000029;
  display: flex;
  margin: 30px 0;
  align-items: center;
  padding: 10px;
  color: $color--primary2-dark1;
  &__image_container {
    position: relative;
    min-width: 100px;
  }
  &__information {
    padding: 10px;
  }
  &__information h4 {
    margin: 0;
    margin-bottom: 10px;
  }
  &__information p {
    @include paragraph--regular;
    margin: 0;
  }
}

/////////////////////////
//    Distribution     //
/////////////////////////

.distribution {
  text-align: center;
  padding: 10px;
  padding-top: 60px;
  padding-bottom: 80px;
  & h2 {
    color: $color--primary2-dark1;
  }
  & figure {
    margin: 0;
  }
  & img {
    max-width: 100%;
  }

  .distributionMadrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h2 {
      margin: 0;
      margin-bottom: 30px;
    }
    & figure {
      max-width: 76%;
    }
    & p {
      @include paragraph--big;
      color: $color--black;
      margin: 0;
      margin-top: 30px;
    }
  }

  .distributionDelivery {
    & h2 {
      margin: 50px 0px;
    }

    & h4 {
      margin: 50px 0 70px 0;
    }
  }
}

/////////////////////////
//         MQ         //
/////////////////////////

////////////////////////////////////////767/////////////////////////////////////////////
@media screen and (max-width: 767px) {
  /////////////////////////
  //         Hero         //
  /////////////////////////

  .hero {
    &__wrapper {
      padding-bottom: 50px;
    }
    h1 {
      margin-bottom: 30px;
    }

    &__container {
      flex-direction: column;
      .hero__image_container {
        width: 100%;
      }
      .hero__text_button_container {
        max-width: 470px;
        margin-bottom: 0;
      }
    }
  }
  /////////////////////////
  //       Main         //
  /////////////////////////
  .main {
    &__container {
      padding-bottom: 30px;
    }
    &__content {
      flex-direction: column;
    }

    &__content-description {
      padding: 10px;
    }
  }

  /////////////////////////
  //      Benefits       //
  /////////////////////////

  .benefits {
    &__container {
      flex-direction: column-reverse;
      padding: 10px;
      align-items: center;
    }
    &__cards {
      width: 70%;
    }
    .card {
      &__image_container {
        margin-right: 8px;
      }
    }
    &__description {
      width: 100%;
      text-align: center;
    }
  }
}

////////////////////////////////////////480/////////////////////////////////////////////
@media screen and (max-width: 480px) {
  /////////////////////////
  //         Hero         //
  /////////////////////////
  .hero {
    h1 {
      margin-top: 30px;
      @include font-size(40px);
    }
  }

  /////////////////////////
  //       Main         //
  /////////////////////////

  .main {
    &__container {
      padding-bottom: 30px;
    }
    &__empty_box_container {
      img {
        max-width: 308px;
      }
    }
    &__content {
      flex-direction: column;
    }

    &__content-description {
      text-align: center;
    }
  }

  /////////////////////////
  //      Benefits       //
  /////////////////////////

  .benefits {
    &__cards {
      width: 100%;
    }

    .card {
      flex-direction: column;
      &__image_container {
        margin-right: 0;
        max-width: 150px;
      }
    }
  }

  /////////////////////////
  //    Distribution     //
  /////////////////////////

  .distribution {
    padding: 30px 10px 40px;
  }
}

////////////////////////////////////////320/////////////////////////////////////////////

@media screen and (max-width: 320px) {
  /////////////////////////
  //         Hero         //
  /////////////////////////

  /////////////////////////
  //       Main         //
  /////////////////////////

  .main {
    &__empty_box_container {
      margin-left: -76px;
      img {
        width: 378px;
        margin-right: -73px;
      }
    }
  }
}
