@import '../Vars.scss';
@import '../Animations/skeleton.module.scss';

.container {
  .header_wrapper {
    background-color: $color--white;
  }
  main {
    padding: 40px 8px;
    .subtitle_glass_container {
      background: rgba(235, 236, 240, 0.8);
      backdrop-filter: blur(4px);
      border: 3px solid rgba(255, 255, 255, 1);
      border-radius: 5px;
      margin: 8px 0;
      h2 {
        margin: 20px 0 20px 4px;
        text-align: center;
        color: $color--black;
      }
    }
  }
}

.skeleton_card {
  width: 100;
  animation: setSkeletonLoading();
  height: 294px;
  border-radius: 5px;
}

/////////////////////////
//   Parallax effect   //
/////////////////////////
//https://keithclark.co.uk/articles/pure-css-parallax-websites/

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  .parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .parallax__back {
    background-image: url('../../assets/GeneralUse/ParallaxBackgroundImages/star.svg'),
      url('../../assets/GeneralUse/ParallaxBackgroundImages/star.svg'),
      url('../../assets/GeneralUse/ParallaxBackgroundImages/star.svg'),
      url('../../assets/GeneralUse/ParallaxBackgroundImages/star.svg'),
      url('../../assets/GeneralUse/ParallaxBackgroundImages/star.svg'),
      url('../../assets/GeneralUse/ParallaxBackgroundImages/star.svg'),
      url('../../assets/GeneralUse/ParallaxBackgroundImages/star.svg'),
      url('../../assets/GeneralUse/ParallaxBackgroundImages/star.svg'),
      url('../../assets/GeneralUse/ParallaxBackgroundImages/bubble.svg'),
      url('../../assets/GeneralUse/ParallaxBackgroundImages/bubble.svg'),
      url('../../assets/GeneralUse/ParallaxBackgroundImages/bubble.svg'),
      url('../../assets/GeneralUse/ParallaxBackgroundImages/bubble.svg'),
      url('../../assets/GeneralUse/ParallaxBackgroundImages/bubble.svg'),
      url('../../assets/GeneralUse/ParallaxBackgroundImages/bubble.svg'),
      url('../../assets/GeneralUse/ParallaxBackgroundImages/bubble.svg'),
      url('../../assets/GeneralUse/ParallaxBackgroundImages/bubble.svg'),
      url('../../assets/GeneralUse/ParallaxBackgroundImages/bubble.svg');
    background-repeat: no-repeat;
    background-position: 15% 18%, 85% 21%, 70% 100%, 19% 76%, 30% 90%, 32% 42%,
      60% 53%, 82% 66%, 46% 88%, 53% 29%, 43% 63%, 85% 90%, 73% 37%, 10% 52%,
      65% 78%, 86% 44%, 14% 100%;

    opacity: 0.45;
    transform: translateZ(-6px) scale(7);
  }
  .parallax__front {
    transform: translateZ(0);
  }
}

/////////////////////////
//      Sugeridos      //
/////////////////////////

.suggested_discounts {
  max-width: 1200px;
  margin-top: 60px;
  .suggested_discounts_grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px 20px;
  }
}

/////////////////////////
//      Novedades      //
/////////////////////////

.novedades_discounts {
  max-width: 1200px;
  margin-top: 40px;
  .novedades_discounts_grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px 20px;
  }
}

/////////////////////////
//    Más descuentos    //
/////////////////////////

.more_discounts {
  padding: 0px 0px 40px;
  max-width: 1200px;
  margin-top: 80px;
  h2 {
    margin: 40px 0;
    text-align: center;
  }
  .more_discounts_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 20px;
    margin-top: 20px;
  }
}

.view_all_btn {
  margin-top: 0;
}

/////////////////////////
//         MQ         //
/////////////////////////
@media screen and (max-width: 1100px) {
  .suggested_discounts {
    .suggested_discounts_grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .novedades_discounts {
    .novedades_discounts_grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 880px) {
  .suggested_discounts {
    margin-top: 20px;
  }
}

////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
  .container {
    padding: 40px 0px;
    .main__loggedInStyles {
      padding-top: 20px;
    }
    main {
      padding: 20px 8px;
      // background-image: url('../../assets/GeneralUse/ParallaxBackgroundImages/smaller_images/cc_logo.svg'),
      //   url('../../assets/GeneralUse/ParallaxBackgroundImages/smaller_images/basin.svg'),
      //   url('../../assets/GeneralUse/ParallaxBackgroundImages/smaller_images/candy.svg'),
      //   url('../../assets/GeneralUse/ParallaxBackgroundImages/smaller_images/discount.svg'),
      //   url('../../assets/GeneralUse/ParallaxBackgroundImages/smaller_images/heart_bag.svg'),
      //   url('../../assets/GeneralUse/ParallaxBackgroundImages/smaller_images/heart_basin.svg'),
      //   url('../../assets/GeneralUse/ParallaxBackgroundImages/smaller_images/lolly.svg'),
      //   url('../../assets/GeneralUse/ParallaxBackgroundImages/smaller_images/long_lollipop.svg'),
      //   url('../../assets/GeneralUse/ParallaxBackgroundImages/smaller_images/square_cookie.svg'),
      //   url('../../assets/GeneralUse/ParallaxBackgroundImages/smaller_images/triangles_candy.svg'),
      //   url('../../assets/GeneralUse/ParallaxBackgroundImages/smaller_images/star.svg'),
      //   url('../../assets/GeneralUse/ParallaxBackgroundImages/smaller_images/star.svg'),
      //   url('../../assets/GeneralUse/ParallaxBackgroundImages/smaller_images/star.svg'),
      //   url('../../assets/GeneralUse/ParallaxBackgroundImages/smaller_images/bubble.svg'),
      //   url('../../assets/GeneralUse/ParallaxBackgroundImages/smaller_images/bubble.svg'),
      //   url('../../assets/GeneralUse/ParallaxBackgroundImages/smaller_images/bubble.svg');
      // background-repeat: no-repeat;
      // background-position: 15% 18%, 85% 21%, 65% 95%, 15% 80%, 32% 42%, 60% 55%,
      //   82% 66%, 42% 75%, 53% 29%, 34% 98%, 85% 90%, 73% 37%, 14% 52%, 78% 99%,
      //   86% 44%, 14% 100%;
      // background-attachment: fixed;
      .subtitle_glass_container {
        margin-bottom: 0;
        h2 {
          background-image: linear-gradient(
            90deg,
            $color--primary1,
            $color--primary2
          );
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      .more_discounts {
        .subtitle_glass_container {
          margin-bottom: 10px;
        }
      }
    }
  }

  /////////////////////////
  //   Parallax effect   //
  /////////////////////////
  .parallax {
    perspective: none;
    background: none;

    .parallax__front {
      transform: initial;
    }
    .parallax__back {
      display: none;
    }
  }

  .suggested_discounts {
    .suggested_discounts_grid {
      padding: 16px 0;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      grid-auto-flow: column;
      grid-auto-columns: minmax(280px, 1fr);
      overflow-x: auto;
      margin-top: 0;
    }
  }
  .novedades_discounts {
    margin-top: 20px;
    .novedades_discounts_grid {
      padding: 16px 0;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      grid-auto-flow: column;
      grid-auto-columns: minmax(280px, 1fr);
      overflow-x: auto;
      margin-top: 0;
    }
  }

  .more_discounts {
    margin-top: 40px;
    .more_discounts_grid {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 0;
    }
  }
}

////////////////////////////////////////480/////////////////////////////////////////////

@media screen and (max-width: 480px) {
  .container {
    main {
      .subtitle_glass_container {
        margin: 0;
      }
      .more_discounts {
        .subtitle_glass_container {
          margin-bottom: 10px;
        }
      }
    }
  }

  .more_discounts {
    .more_discounts_grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
////////////////////////////////////////320/////////////////////////////////////////////

@media screen and (max-width: 320px) {
  /////////////////////////
  //      Sugeridos      //
  /////////////////////////

  .suggested_discounts {
    .suggested_discounts_grid {
      grid-gap: 30px 10px;
    }
  }

  /////////////////////////
  //      Novedades      //
  /////////////////////////

  .novedades_discounts {
    .novedades_discounts_grid {
      grid-gap: 30px 10px;
    }
  }

  /////////////////////////
  //    Más descuentos    //
  /////////////////////////

  .more_discounts {
    .more_discounts_grid {
      grid-gap: 30px 10px;
    }
  }
}
