@import '../Vars.scss';
@import '../Buttons.scss';

body {
  .body__gridContainer {
    display: grid;
  }
}

/////////////////////////
//     Page Titel      //
/////////////////////////

.pageTitle {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  img {
    margin: 30px auto;
    max-width: 100%;
  }
}

/////////////////////////
//        Hero         //
/////////////////////////

.hero {
  background-color: $color--secondary;
  &__container {
    display: grid;
    grid-template-columns: 50% 1fr;
    padding: 25px 10px;
  }
  &__title {
    color: $color--white;
    @include font-size(58px);
    line-height: 100px;
    margin: 0;
    align-self: center;
  }

  a {
    display: block;
    position: relative;
    z-index: 1;
  }
  .hero__sectionDown {
    display: block;
    margin: 0 auto -31px;
  }
}

/////////////////////////
//     Main Text       //
/////////////////////////

.main {
  padding: 70px 8px 60px;
  &__title {
    color: $color--black;
    margin-bottom: 50px;
    margin: 0 0 40px;
  }
  &__subtitle {
    color: $color--secondary;
    margin-bottom: 50px;
  }
  &__distribution_options_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }
  &__distribution_option {
    display: flex;
  }
  &__distribution_option_title {
    margin: 0;
    @include font-size(18px);
  }
  &__distribution_option_details_container {
    margin-left: 12px;
  }
}

/////////////////////////
//   Upper benefits    //
/////////////////////////

.upperBenefits {
  background-color: $color--secondary;
  padding: 0 8px;
  .beneficios__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;
    justify-content: center;
    padding-bottom: 50px;
    box-sizing: border-box;
  }
  h2 {
    color: $color--white;
    margin: 50px 0 16px;
  }
  .upperBenefits__subtitle {
    color: $color--white;
    margin-top: 0;
  }
}

/////////////////////////
//   Under benefits    //
/////////////////////////

.underBenefits {
  display: grid;
  padding: 50px 8px 80px;
  .beneficio {
    display: flex;
    justify-content: space-between;
    &__informacion {
      max-width: 50%;
      h4 {
        color: $color--secondary;
      }
      p {
        @include paragraph--regular;
      }
    }
    &__imagen {
      width: 50%;
      max-width: 50%;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 40%;
      }
    }
    &__hr {
      display: none;
    }
  }
  .beneficio--flipped {
    flex-direction: row-reverse;
  }
}

/////////////////////////
//      Contacto       //
/////////////////////////

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 8px 90px;
  p {
    margin-top: 0;
    margin-bottom: 80px;
    @include paragraph--regular;
    text-align: center;
  }
}

/////////////////////////
//         MQ         //
/////////////////////////

@media screen and (max-width: 880px) {
  /////////////////////////
  //         Hero         //
  /////////////////////////
  .hero {
    &__title {
      @include font-size(50px);
      text-align: center;
    }
  }

  /////////////////////////
  //   Under benefits    //
  /////////////////////////

  .underBenefits {
    .beneficio {
      &__imagen img {
        width: 45%;
      }
    }
  }
}

////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
  /////////////////////////
  //         Hero         //
  /////////////////////////
  .hero {
    &__title {
      line-height: 70px;
    }
    &__container {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
  }

  /////////////////////////
  //     Main Text       //
  /////////////////////////

  .main {
    &__distribution_options_container {
      grid-template-columns: 1fr;
    }
  }

  .upperBenefits {
    .beneficios__container {
      grid-template-columns: 45% 45%;
      grid-gap: 20px;
    }
  }

  .underBenefits {
    padding: 50px 20px 80px;
    .beneficio {
      &__imagen img {
        width: 55%;
      }
    }
  }
}
////////////////////////////////////////480/////////////////////////////////////////////

@media screen and (max-width: 480px) {
  /////////////////////////
  //         Hero         //
  /////////////////////////

  .hero {
    &__container {
      grid-template-columns: 1fr;
      padding: 25px 0;
      figure {
        margin-right: 8px;
      }
    }
    &__title {
      @include font-size(40px);
      margin: 0px;
    }
  }

  /////////////////////////
  //     Main Text       //
  /////////////////////////

  .upperBenefits {
    .beneficios__container {
      grid-template-columns: 70%;
      grid-gap: 15px;
    }
  }

  /////////////////////////
  //   Under benefits    //
  /////////////////////////

  .underBenefits {
    padding-bottom: 0;
    .beneficio {
      flex-direction: column;
      align-items: center;
      margin: 32px 0;
      &__informacion {
        order: 1;
        max-width: 95%;
        h4 {
          margin: 15px 0;
        }
      }
      &__imagen {
        max-width: 100%;
        width: 100%;
      }
      &__imgSizeModif {
        width: 80%;
      }
      &__hr {
        display: initial;
        width: 80%;
      }
    }
  }

  /////////////////////////
  //   Patrocinadores    //
  /////////////////////////
}

@media screen and (max-width: 400px) {
}
////////////////////////////////////////320/////////////////////////////////////////////

@media screen and (max-width: 320px) {
  .upperBenefits {
    .beneficios__container {
      grid-template-columns: 95%;
    }
  }
}
