@import '../Vars.scss';

.container {
  padding: 40px 8px;
  background-color: $color--tertiary-white;
}

.slider {
  width: 100%;
  height: 400px;
  background-color: $color--light-gray;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
}

.main_discounts {
  padding: 40px 0;
  max-width: 1200px;
  .main_discounts_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px 20px;
  }
}

/////////////////////////
//         MQ         //
/////////////////////////
@media screen and (max-width: 1100px) {
  .main_discounts {
    .main_discounts_grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
  .container {
    padding: 40px 0px;
  }
  .main_discounts {
    .main_discounts_grid {
      padding: 16px 0;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      grid-auto-flow: column;
      grid-auto-columns: minmax(280px, 1fr);
      overflow-x: auto;
    }
  }
}

////////////////////////////////////////480/////////////////////////////////////////////

@media screen and (max-width: 480px) {
}
////////////////////////////////////////320/////////////////////////////////////////////

@media screen and (max-width: 320px) {
}
