@import '../Vars.scss';

/////////////////////////
//        Header       //
/////////////////////////

.header {
  height: 97px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: $color--light-gray;
  box-shadow: 0 1px 6px 0 #20212447;
  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
    }
  }
}

/////////////////////////
//         Main        //
/////////////////////////

.main {
  min-height: calc(100vh - 159px);
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
  }
}

/////////////////////////
//         MQ         //
/////////////////////////
@media screen and (max-width: 880px) {
}

////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
  .main {
    min-height: calc(100vh - 221px);
  }
}
////////////////////////////////////////480/////////////////////////////////////////////

@media screen and (max-width: 480px) {
  .header__container {
    justify-content: center;
  }
  .main__container {
    padding: 50px 8px;
  }
}
////////////////////////////////////////320/////////////////////////////////////////////

@media screen and (max-width: 320px) {
}
