@import '../Vars.scss';

.main {
  min-height: calc(100vh - 159px);
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0;
  }

  .errorMessage {
    position: relative;
    top: -45px;
    color: $color--primary1;
    @include font-size(16px);
    font-weight: 600;
  }
}

/////////////////////////
//         MQ         //
/////////////////////////
@media screen and (max-width: 880px) {
}

////////////////////////////////////////767/////////////////////////////////////////////

@media screen and (max-width: 767px) {
  .main {
    min-height: calc(100vh - 221px);
  }
}
////////////////////////////////////////480/////////////////////////////////////////////

@media screen and (max-width: 480px) {
  .main__container {
    padding: 50px 8px;
  }
}
////////////////////////////////////////320/////////////////////////////////////////////

@media screen and (max-width: 320px) {
}
