@import '../components/Vars.scss';

.footer {
  /////////////////////////
  //       Navigation     //
  /////////////////////////
  color: $color--white;
  &__navigation {
    display: grid;
    grid-template-areas: 'logo plataforma legal social';
    justify-items: center;
    align-items: center;
    background-color: $color--primary2;
  }
  &__navigation h5 {
    font-family: $font1;
    @include font-size(20px);
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 14px;
  }
  &__navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__navigation ul li {
    margin-bottom: 4px;
  }

  &__platform,
  &__legal {
    margin: 40px 0;
    align-self: start;
  }

  &__social {
    padding: 10px;
  }
  &__social a {
    margin: 12px;
  }

  &__navigation ul li a {
    text-decoration: none;
    color: $color--white;
    @include font-size(14px);
  }

  .footer__empleos::after {
    content: '¡Estamos contratando!';
    display: inline;
    @include font-size(10px);
    border-radius: 15px;
    background-color: $color--primary2-light1;
    padding: 1px 6px;
  }

  /////////////////////////
  //       Signature     //
  /////////////////////////

  &__signature {
    background-color: $color--black;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    @include font-size(14px);
  }
}

/////////////////////////
//         MQ          //
/////////////////////////
@media screen and (max-width: 1100px) {
  .footer {
    &__navigation {
      grid-template-areas: 'plataforma legal' 'logo social';
    }

    &__logo {
      grid-area: logo;
      justify-self: end;
    }
    &__platform {
      grid-area: plataforma;
      // justify-self: end;
    }
    &__legal {
      grid-area: legal;
      // justify-self: start;
    }
    &__social {
      grid-area: social;
      justify-self: center;
    }
  }
}

@media screen and (max-width: 767px) {
  .footer {
    &__navigation {
      grid-template-areas:
        'plataforma legal'
        'logo logo'
        'social social';
    }

    &__logo {
      justify-self: center;
    }

    &__signature {
      flex-direction: column;
      align-items: center;
    }
  }
}
@media screen and (max-width: 480px) {
  .footer {
    &__navigation {
      grid-template-areas:
        'plataforma' 'legal'
        'logo'
        'social';
      padding: 15px;
    }

    &__logo figure {
      margin: 0;
    }
    &__logo {
      margin-bottom: 30px;
    }

    &__platform {
      width: 180px;
      margin-top: 20px;
    }

    &__legal {
      margin-top: 0;
      width: 180px;
    }
    &__social {
      width: 100%;
      display: flex;
      justify-content: space-around;
      padding: 0;
      margin-bottom: 30px;
    }
    &__social a {
      margin: 0;
    }

    &__signature p {
      text-align: center;
    }
  }
}
@media screen and (max-width: 320px) {
  .footer {
    &__logo figure {
      width: 100%;
    }
    &__logo figure img {
      width: 100%;
    }
  }
}
