@charset "UTF-8";
* {
  box-sizing: border-box;
}

html {
  /* eliminate horizontal scroll */
  max-width: 100%;
  overflow-x: hidden;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

body {
  /* eliminate horizontal scroll */
  max-width: 100%;
  overflow-x: hidden;
  background-color: #f5f5f5;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-size: 2rem;
  line-height: 48px;
  letter-spacing: 0;
  font-weight: 800;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 35px;
  letter-spacing: 0;
  font-weight: 700;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 30px;
  letter-spacing: 0;
  font-weight: 700;
}

header {
  box-shadow: 0 1px 6px 0 #20212447;
}

header .header__container {
  display: flex;
  justify-content: space-between;
  height: 97px;
  padding: 0 10px;
}

header .header__container .header__logo {
  margin: auto 0;
}

.menu,
.menu__item {
  height: inherit;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  height: inherit;
  margin: 0;
}

.menu__list .menu__item a {
  text-decoration: none;
  color: #1e0230;
  height: inherit;
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-left: 46px;
}

.menu__item a:hover {
  color: #ad2146;
}

.burguer__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(59, 5, 94, 0.8);
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 5px;
  right: 5px;
  z-index: 1;
}

.icon__line {
  height: 4px;
  width: 22px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.burguer__line2 {
  margin: 3px 0;
}

@media screen and (max-width: 767px) {
  .burguer__button {
    display: flex;
  }
  .header .header__container {
    padding: 0;
    justify-content: center;
  }
  .menu {
    position: fixed;
    background: rgba(91, 7, 145, 0.8);
    z-index: 2;
    top: 0;
    bottom: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 15px;
    transition: 0.3s;
  }
  .menu__list {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .menu__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 0;
    height: 70px;
    width: 50%;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    background: rgba(91, 7, 145, 0.9);
  }
  .menu__list .menu__item a {
    color: #f5f5f5;
    margin: 0;
    width: 100%;
    justify-content: center;
  }
  .menu.is-active {
    left: 0;
  }
}

@media screen and (max-width: 480px) {
  .menu__item {
    width: 70%;
    height: 60px;
  }
}

@media screen and (max-width: 320px) {
  .menu__item {
    width: 90%;
  }
}

.footer {
  color: #f5f5f5;
}

.footer__navigation {
  display: grid;
  grid-template-areas: "logo plataforma legal social";
  justify-items: center;
  align-items: center;
  background-color: #5b0791;
}

.footer__navigation h5 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 14px;
}

.footer__navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__navigation ul li {
  margin-bottom: 4px;
}

.footer__platform, .footer__legal {
  margin: 40px 0;
  align-self: start;
}

.footer__social {
  padding: 10px;
}

.footer__social a {
  margin: 12px;
}

.footer__navigation ul li a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 14px;
  font-size: 0.875rem;
}

.footer .footer__empleos::after {
  content: "¡Estamos contratando!";
  display: inline;
  font-size: 10px;
  font-size: 0.625rem;
  border-radius: 15px;
  background-color: #9059b3;
  padding: 1px 6px;
}

.footer__signature {
  background-color: #1e0230;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 14px;
  font-size: 0.875rem;
}

@media screen and (max-width: 1100px) {
  .footer__navigation {
    grid-template-areas: "plataforma legal" "logo social";
  }
  .footer__logo {
    grid-area: logo;
    justify-self: end;
  }
  .footer__platform {
    grid-area: plataforma;
  }
  .footer__legal {
    grid-area: legal;
  }
  .footer__social {
    grid-area: social;
    justify-self: center;
  }
}

@media screen and (max-width: 767px) {
  .footer__navigation {
    grid-template-areas: "plataforma legal" "logo logo" "social social";
  }
  .footer__logo {
    justify-self: center;
  }
  .footer__signature {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .footer__navigation {
    grid-template-areas: "plataforma" "legal" "logo" "social";
    padding: 15px;
  }
  .footer__logo figure {
    margin: 0;
  }
  .footer__logo {
    margin-bottom: 30px;
  }
  .footer__platform {
    width: 180px;
    margin-top: 20px;
  }
  .footer__legal {
    margin-top: 0;
    width: 180px;
  }
  .footer__social {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-bottom: 30px;
  }
  .footer__social a {
    margin: 0;
  }
  .footer__signature p {
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .footer__logo figure {
    width: 100%;
  }
  .footer__logo figure img {
    width: 100%;
  }
}

body .body__gridContainer {
  display: grid;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}

.hero {
  background-color: #ad2146;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  color: #f5f5f5;
  font-size: 65px;
  font-size: 4.0625rem;
  text-align: center;
  line-height: 100px;
  margin: 30px 0;
}

.hero__image-container {
  width: auto;
  margin: 0;
  margin-bottom: 70px;
  margin-right: -120px;
}

.hero__image {
  max-width: 100%;
}

.main__title-container {
  margin: 60px auto;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .hero__title {
    font-size: 50px;
    font-size: 3.125rem;
    line-height: 80px;
  }
  .hero__image-container {
    margin-right: -190px;
  }
}

@media screen and (max-width: 480px) {
  .hero__container {
    padding: 10px;
  }
  .hero__container .hero__title {
    margin: 20px 0;
    font-size: 40px;
    font-size: 2.5rem;
    line-height: 60px;
  }
  .hero__container .hero__image-container {
    margin-right: -110px;
  }
}

@media screen and (max-width: 320px) {
  .hero__container .hero__image-container {
    margin-right: -90px;
  }
}
/*# sourceMappingURL=index.css.map */